body {
  box-sizing: border-box;
  margin: 0px;
}
body header {
  position: fixed;
  top: 0px;
  height: 30px;
  width: 100%;
  padding: 3px 0px;
  background-color: #fff;
  box-shadow: 0px 5px 10px #888888;
  color: #70CFCE;
  box-sizing: inherit;
  z-index: 1001;
}
body header .current_month {
  float: left;
  margin-left: 20%;
}
body header .back_today {
  margin-right: 5%;
  float: right;
}
body section {
  margin-top: 30px;
  padding-top: 10px;
}
body section .month_1 {
  background: url(/wx/./img/c8d9fad0d67296b3bff54038624dc097.jpg) fixed center center;
}
body section .month_2 {
  background: url(/wx/./img/4f6f7c718af7eadeea57f64194fbd833.jpg) fixed center center;
}
body section .month_3 {
  background: url(/wx/./img/74eb501b2b7178e788550b021e36e9bd.jpg) fixed center center;
}
body section .month_4 {
  background: url(/wx/./img/0b3a43262435276c6ab0ef317a975423.jpg) fixed center center;
}
body section .month_5 {
  background: url(/wx/./img/194f659873ea71a047016eccdc82b213.jpg) fixed center center;
}
body section .month_6 {
  background: url(/wx/./img/9a6316a4fca2ce24f6de609e6e75779a.jpg) fixed center center;
}
body section .month_7 {
  background: url(/wx/./img/a3d7ca2afc6f5609353c078655f2198c.jpg) fixed center center;
}
body section .month_8 {
  background: url(/wx/./img/91ae0ccd6aa1ca59956e0db273e9dcda.jpg) fixed center center;
}
body section .month_9 {
  background: url(/wx/./img/57c3d99c73080b8d54a7e77225e24f26.jpg) fixed center center;
}
body section .month_10 {
  background: url(/wx/./img/f2029959897f7a220f17052f2542f5d5.jpg) fixed center center;
}
body section .month_11 {
  background: url(/wx/./img/47ec1280f0c556e3b13c13e9e3003238.jpg) fixed center center;
}
body section .month_12 {
  background: url(/wx/./img/1753c020162473a84c058b6840b8313b.jpg) fixed center center;
}
body section .record {
  width: 100%;
  margin-bottom: 10px;
}
body section .record.day_end {
  margin-bottom: 30px;
}
body section .record .date {
  float: left;
  width: 20%;
  text-align: center;
  color: #70CFCE;
  margin-right: -3px;
}
body section .record .date.out_of_date {
  color: #999;
}
body section .record .date.invisibile {
  visibility: hidden;
}
body section .record .date .day {
  font-size: 30px;
}
body section .record .date .weekday {
  font-size: 18px;
}
body section .record .content {
  float: left;
  position: relative;
  width: 75%;
  border-radius: 5px;
}
body section .record .content .text {
  font-size: 14px;
  text-indent: 10px;
  color: #fff;
}
body section .record .content .text.contain_img,
body section .record .content .text.contain_map {
  margin-top: 25px;
}
body section .record .content .text.contain_map {
  position: absolute;
  bottom: 15px;
  z-index: 102;
}
body section .record .content .text.contain_map.no_address {
  bottom: -15px;
}
body section .record .content .text.contain_img.no_address {
  margin-top: 55px;
}
body section .record .content .text div {
  height: 30px;
  line-height: 30px;
}
body section .record .content img {
  width: 100%;
  height: 70px;
}
body section .record .content .bmap {
  border-radius: 5px;
  height: 110px;
  z-index: 100;
}
body section .record .content .map_mask {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 101;
  border-radius: 5px;
}
body section .record .content a {
  text-decoration: none;
  color: #70CFCE;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  text-indent: 20px;
}
body section .record .clearfix {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
body section .current_time_line {
  position: relative;
  width: 75%;
  margin-left: 18%;
  border: 1px solid #70CFCE;
  margin-top: -5px;
  margin-bottom: 5px;
}
body section .current_time_line:before {
  position: absolute;
  left: -11px;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: #70CFCE;
  border-radius: 50%;
  content: "";
}
body section .month_divide {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 50px 0px;
}
body section .month_divide .text {
  position: absolute;
  left: 20%;
  top: 20px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
body .add_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0px 1px 10px #888888;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #52CECE;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  color: #fff;
  z-index: 10004;
  transform: rotate(0deg);
  transition: 0.5s;
}
body .add_btn.open {
  transform: rotate(45deg);
  transition: 0.5s;
  background-color: #8F8F8F;
}
body .btn_detail {
  position: fixed;
  right: 25px;
  z-index: 10003;
  opacity: 0;
}
body .btn_detail.move_up {
  -webkit-animation-name: move_up 0.5s;
  animation: move_up 0.5s;
  opacity: 1;
  bottom: 90px;
}
body .btn_detail.move_down {
  -webkit-animation-name: move_down 0.5s;
  animation: move_down 0.5s;
  opacity: 0;
  bottom: 20px;
}
body .btn_detail div {
  margin-bottom: 20px;
  height: 60px;
}
body .btn_detail div span {
  float: left;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 3px;
  box-shadow: 0px 1px 10px #888888;
  margin-right: 30px;
  margin-top: 18px;
}
body .btn_detail div a {
  float: left;
  width: 60px;
  height: 60px;
  background-color: #52CECE;
  border-radius: 50%;
  box-shadow: 0px 1px 10px #888888;
}
body .btn_detail div a.activity {
  background: url(/wx/./img/263ceb09fca44ba737d5cd488fd8c434.png) no-repeat #52CECE 13px 13px;
  background-size: 55%;
}
body .btn_detail div a.remind {
  background: url(/wx/./img/3b21aa79e1dc9b693cde2da65da1e82c.png) no-repeat #52CECE 13px 13px;
  background-size: 55%;
}
body .select_mask {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 10002;
}
@-webkit-keyframes move_up {
  from {
    opacity: 0;
    bottom: 20px;
  }
  to {
    opacity: 1;
    bottom: 90px;
  }
}
@keyframes move_up {
  from {
    opacity: 0;
    bottom: 20px;
  }
  to {
    opacity: 1;
    bottom: 90px;
  }
}
@-webkit-keyframes move_down {
  from {
    opacity: 1;
    bottom: 90px;
  }
  to {
    opacity: 0;
    bottom: 20px;
  }
}
@keyframes move_down {
  from {
    opacity: 1;
    bottom: 90px;
  }
  to {
    opacity: 0;
    bottom: 20px;
  }
}
.mask {
  position: absolute;
  padding: 0px;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 11000;
  width: 100%;
  height: 100%;
  display: none;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  display: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=newSchedule.css.map*/