@import "../common/common.less";
@import "../common/weui1.0.0.less";

body{
  color: #000;
}
textarea::-webkit-input-placeholder{
  color: #ccc;
}
textarea{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  line-height: 30px;
  background: transparent;
  resize: none;
}
.select{
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: relative;
  z-index: 1;
}
.item{
  width:100%;
  height:auto;
  position: relative;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  display: -webkit-box;
  display: box;
}
.item:active{
  background: rgba(0,0,0,0.1);
}
.eventCon .icon,.shadow .icon{
  width:50px;
  height:60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.itemCon{
  -webkit-box-flex:1;
  box-flex:1;
  position: relative;
  line-height:60px;
}
.icon img{
  height:60%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}
.eventCon{
  width:100%;
  overflow:hidden;
  text-align: left;
}
.topTips{
  height:auto;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.topTips .tipsCon{
  width:100%;
  height: 60px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}
.topTips a{
  display: inline-block;
  height:20px;
  line-height:20px;
  padding: 0px 5px;
  margin:  5px;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  word-break: keep-all;
}
.topTips a:active{
  background: rgba(0,0,0,0.1);
}
.showAll{
  width: 100%;
  height:20px;
}
.showAll span{
  display: block;
  width: 20px;
  height:12px;
  margin: 5px auto;
  background: url("../../imgs/page/activity/ic_down_1.png")  no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.showAll span.active{
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.eventCon .eventTitle{
  width:100%;
  min-height:50px;
  text-align: center;
  padding: 5px 20px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eventCon .eventTitle .eventName{
  height:40px;
  font-size: 18px;
}
.time{
  width:100%;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  display: -webkit-box;
  display: box;
}
.time .itemCon{
  min-height:60px;
  overflow: hidden;
  position: relative;
}
.time .startTime{
  height:60px;
  overflow: hidden;
  position: relative;
}
.time .endTime{
  height:0px;
  overflow: hidden;
}
.time .timeText{
  width:0px;
  line-height: 60px;
  color: #999;
  float: left;
  overflow: hidden;
}
.time .timeCon{
  display: block;
  height:60px;
  line-height:60px;
  color: #000;
  float: left;
}
.time #startTime,.time #endTime,#remindTime{
  width:90%;
  height:60px;
  position: absolute;
  left:0px;
  opacity: 0;
  overflow: hidden;
}
#startTime{
  top:0px;
}
#endTime{
  bottom:0px;
  height:0px;
}
.time .timeIconCon{
  width:30px;
  height:60px;
  position: absolute;
  top:0px;
  right:0px;
}
.timeIcon{
  display: block;
  width: 18px;
  height:10px;
  position: absolute;
  top:25px;
  right:10px;
  background: url("../../imgs/page/activity/ic_down_2.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.timeIcon.active{
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.remindTime{
  //height:30px;
  height:0px;
  width:100%;
  line-height: 1.5;
}
#remindTime{
  height:30px;
  bottom:0px;
  display: none;
}
.colorShow{
  display: block;
  width:20px;
  height:20px;
  position: absolute;
  top:20px;
  left:50%;
  margin-left: -10px;
  background: #66cccc;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}
.remarkCon{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 10px;
}
.remarkCon .remarkText{
  min-height: 30px;
  line-height: 30px;
}
.saveBtn{
  display: block;
  width:90%;
  height:40px;
  background: #66cccc;
  margin: 10px auto 5px;
  text-align: center;
  line-height:40px;
}
.delete{
  width:100%;
  height:50px;
  line-height:50px;
  color: #f20d0d;
  text-align: center;
  display: none;
}
/*-------------弹层样式--------------*/
.shadowBg{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: rgba(0,0,0,0.5);
  display: none;
}
.shadow{
  width:100%;
  height:100%;
  z-index: 999;
  position: fixed;
  top:0px;
  left:0px;
  overflow: hidden;
}
.shadow .shadowClose{
  width:8%;
  height:8%;
  position: absolute;
  top:0;
  right:0;
  background: url("../../imgs/page/activity/ic_close_black.png") no-repeat top right;
  background-size: contain;
  -webkit-background-size: contain;
}
.shadow .container{
  width:100%;
  height:90%;
  background: #fff;
  position: absolute;
  top:100%;
  left: 0px;
  overflow: auto;
}
/*-------------地图，颜色，备注样式-------------*/
.mapShadow,.colorShadow,.remarkShadow{
  display: none;
}
.container .mapCon{
  width:100%;
  height:300px;
}
.container .imgCon{
  width:40px;
  height:40px;
  position: absolute;
  top:110px;
  left:50%;
  margin-left: -20px;
  background: url("../../imgs/page/activity/ic_place.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
}
.container .imgCon.active{
  -webkit-animation: upAndDown 0.5s ease;
  -o-animation:upAndDown 0.5s ease;
  animation:upAndDown 0.5s ease;
}
@keyframes upAndDown {
  0%{
    top:110px;
  }
  50%{
    top:90px;
  }
  100%{
    top:110px;
  }
}
@-webkit-keyframes upAndDown {
  0%{
    top:110px;
  }
  50%{
    top:90px;
  }
  100%{
    top:110px;
  }
}
.addressCon .itemCon{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 20px;
  padding-top: 10px;
}
.addressCon .itemCon span{
  display: block;
  height:20px;
}
.addressCon .itemCon span.name{
  font-weight: 900;
}
/*------------颜色弹层-----------*/
.items{
  width:100%;
  height:40px;
  line-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: box;
  position: relative;
}
.items:active{
  background: rgba(0,0,0,0.1);
}
.items .colorCircle{
  height:100%;
  width:50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
}
.items .colorCircle .bigger{
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width:20px;
  height:20px;
  padding-top: 2px;
  background: #00a0df;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  margin: 0 auto;
}
.bigger .smaller{
  display: block;
  width:16px;
  height:16px;
  background: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  margin: 0 auto;
}
.items .colorName{
  -webkit-box-flex: 1;
  box-flex:1;
  text-indent: 1em;
}
.selectImg{
  width:26px;
  height:26px;
  background: url("../../imgs/page/activity/ic_hook.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size:  contain;
  position: absolute;
  top:7px;
  right:12px;
  display: none;
}
.imgName{
  width:80%;
  height:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  text-indent: 1em;
}
.active .selectImg{
  display: block;
}
//图片样式
.imgItem{
  height:50px;
  line-height:50px;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.imgItem .imgName{
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  -webkit-background-size: contain;
}
.imgItem .selectImg{
  top:12px;
}
/*------------备注弹层---------------*/
.remarkShadow .title{
  width:100%;
  height:30px;
  border-bottom: 2px solid #ccc;
  line-height:30px;
}
.remarkShadow .title a{
  display: block;
  width:50px;
  height:100%;
  text-align: center;
}
.remarkShadow .textCon{
  width:100%;
  height:auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding:10px;
}
.remarkShadow .remarkText{
  width:100%;
  height:auto;
  resize: none;
  outline: 0;
  -webkit-user-select: text;
  line-height:1.5;
}
.listCon{ min-height: 100%}

.addressCon{position: relative; height: 300px; overflow: auto}