@import "../common/common.less";
@import "../common/weui1.0.0.less";

body{
  color: #000;
}
.item{
  width:100%;
  height:auto;
  position: relative;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  display: -webkit-box;
  display: box;
}
.item .icon{
  width:50px;
  height:60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.itemCon{
  -webkit-box-flex:1;
  box-flex:1;
  position: relative;
  line-height:60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
.icon img{
  height:60%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}
/*--------------------顶部背景，事件名称及编辑按钮样式--------------------*/
.topCon{
  width:100%;
  height:100px;
  background: #66cccc;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-height: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.eventName{
  height:auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 15px;
  line-height: 30px;
  position: absolute;
  left:0;
  bottom: 18px;
  max-height: 90px;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  overflow: hidden;
}
.compile{
  width:40px;
  height:40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background: #66cccc;
  position: absolute;
  left:10px;
  bottom: -20px;
  box-shadow: 0 7px 5px #ccc;
  overflow: hidden;
}
.compile div{
  width:100%;
  height:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
  background: rgba(0,0,0,0.1);
}
.compile img{
  display: block;
  width:30px;
  height:30px;
  margin: 0 auto;
}
.time .itemCon{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  line-height: 40px;
}

.itemCon span{font-size: 14px}

.avtivityCon{
  width:100%;
  height:auto;
  overflow: hidden;
}
.avtivityCon .item{border-bottom: none}
.peopleList{
  width:100%;
  min-height:50px;
  overflow: hidden;
}
.peopleItem{
  width:50%;
  height:50px;
  margin-bottom: 5px;
  line-height: 50px;
  overflow: hidden;
}
.peopleItem img{
  height:40px;
  width:40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  margin-right: 5px;
  margin-top: 5px;
}
.ownerNickName{
  height:50px;
}
.nickName{
  height:25px;
  line-height:26px;
  overflow: hidden;
}
.ownerNickName .ownerPosition{
  line-height: 20px;
}
.peopleItem .nickNames{
  height:100%;
  line-height: 50px;
}

/*-----------site----------------*/
.site .itemCon{
  min-height:60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 10px;
}
.site .itemCon .siteName{
  line-height: 30px;
}
.site .itemCon .siteAddress{
  line-height: 16px;
  padding-bottom: 15px;
}

/*-----------remark-----------*/
.remark .itemCon{
  padding-top: 15px;
  padding-bottom: 15px;
}
.remark .itemCon .remarkText{
  height:auto;
  line-height: 30px;
}
.remark .itemCon .remarkImgs{
  width:100%;
  height:auto;
  overflow: hidden;
}
 .remarkMore, .remarkRetract{
  color: #6cc;
  line-height: 30px;
  display: none;
}
.textMore{
  max-height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.remarkImgs img{
  display: block;
  float: left;
  width: calc(~"29vw - 20px");
  height: calc(~"29vw - 20px");
  padding: 1%;
}
.blank{
  width:100%;
  height:70px;
}
/*------------bottom-----------*/
.bottom{
  width:100%;
  border-top: 1px solid #ccc;
  overflow: hidden;
  position: fixed;
  left:0;
  bottom:-50px;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  background: rgba(255,255,255,0.9);
}
.bottom div{
  height:28px;
  line-height: 28px;
  padding: 0 12px;
  border: 1px solid #66CCCC;
}
.bottom div.share,.bottom div.join{
  background: #66CCCC;
}
.bottom div.exit{
  margin-right: 5px;
}
.bottom div.postEvent{
  border: 1px solid #66CCCC;
}
/*参与事件已被删除后的提示*/
.eventNone{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  display: none;
  z-index: 999;
  background: #66cccc;
}
.eventNone .imgCon{
  width:auto;
  height:80px;
  margin: 0 auto;
  margin-top: 20%;
  background: url("../../imgs/common/icon-NoContent.png") no-repeat center center;
  -webkit-background-size:contain;
  background-size:contain;
}
.eventNone p{
  width:100%;
  height:30px;
  line-height:30px;
  color: #fff;
  text-align: center;
}
/*-------------分享遮罩层，事件二维码----------------*/
.shareShadow,.wxQrcode,.liLi{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.shareShadow .shadowImg{
  height:auto;
  width:80%;
  margin: 0 auto;
  //background: #fff;
  margin-top: 20%;
  text-align: center;
}
.shareShadow .shadowImg img{
  position: static;
  width:100%;
  height:auto;
}

.shareShadow .shareImgClose{
  display: block;
  width:80%;
  height:36px;
  margin: 20px auto;
  background: #66cccc;
  line-height: 36px;
  text-align: center;
}
.wxQrcode .wxQrcodeClose,.liLi_close{
  display: block;
  width:30px;
  height:30px;
  position: absolute;
  top:30px;
  right:20px;
  background: url("../../imgs/page/showEvent/close.png") no-repeat center center;
  background-size: contain;
}
.qrcodeImgCon,.liLi_qrcodeImgCon{
  height:auto;
  width:80%;
  margin: 0 auto;
  background: #fff;
  margin-top: 20%;
}
.qrcodeImg,.liLi_qrcodeImg{
  width:100%;
  text-align: center;
}
.qrcodeImg img,.liLi_qrcodeImg img{
  width:100%;
}
.qrcodeImgCon p,.liLi_qrcodeImgCon p{
  width:100%;
  color: #000;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}
.addressCon{position: relative; height: 300px; overflow: auto}
/*-------------弹层样式--------------*/
.shadowBg{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: rgba(0,0,0,0.5);
  display: none;
}
.shadow{
  width:100%;
  height:100%;
  z-index: 999;
  position: fixed;
  top:0px;
  left:0px;
  overflow: hidden;
}
.shadow .shadowClose{
  width:8%;
  height:8%;
  position: absolute;
  top:0;
  right:0;
  background: url("../../imgs/page/activity/ic_close_black.png") no-repeat top right;
  background-size: contain;
  -webkit-background-size: contain;
}
.shadow .container{
  width:100%;
  height:90%;
  background: #fff;
  position: absolute;
  top:100%;
  left: 0px;
  overflow: auto;
}
/*-------------地图，颜色，备注样式-------------*/
.mapShadow,.colorShadow,.remarkShadow{
  display: none;
}
.container .mapCon{
  width:100%;
  height:100%;
}
.container .imgCon{
  width:20px;
  height:44px;
  position: absolute;
  top:128px;
  left:50%;
  margin-left: -20px;
  background: url("../../imgs/common/ic_place2.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
}
.container .imgCon.active{
  -webkit-animation: upAndDown 0.5s ease;
  -o-animation:upAndDown 0.5s ease;
  animation:upAndDown 0.5s ease;
}
