body {
    box-sizing: border-box;
    margin: 0px;
    header {
        position: fixed;
        top: 0px;
        height: 30px;
        width: 100%;
        padding: 3px 0px;
        background-color: #fff;
        box-shadow: 0px 5px 10px #888888;
        color: #70CFCE;
        box-sizing: inherit;
        z-index: 1001;
        .current_month {
            float: left;
            margin-left: 20%;
        }
        .back_today {
            margin-right: 5%;
            float: right;
        }
    }
    section {
        margin-top: 30px;
        padding-top: 10px;
        .month_1 {
            background: url(../../imgs/page/newSchedule/monthBG/1.jpg) scroll center center;
        }
        .month_2 {
            background: url(../../imgs/page/newSchedule/monthBG/2.jpg) scroll center center;
        }
        .month_3 {
            background: url(../../imgs/page/newSchedule/monthBG/3.jpg) scroll center center;
        }
        .month_4 {
            background: url(../../imgs/page/newSchedule/monthBG/4.jpg) scroll center center;
        }
        .month_5 {
            background: url(../../imgs/page/newSchedule/monthBG/5.jpg) scroll center center;
        }
        .month_6 {
            background: url(../../imgs/page/newSchedule/monthBG/6.jpg) scroll center center;
        }
        .month_7 {
            background: url(../../imgs/page/newSchedule/monthBG/7.jpg) scroll center center;
        }
        .month_8 {
            background: url(../../imgs/page/newSchedule/monthBG/8.jpg) scroll center center;
        }
        .month_9 {
            background: url(../../imgs/page/newSchedule/monthBG/9.jpg) scroll center center;
        }
        .month_10 {
            background: url(../../imgs/page/newSchedule/monthBG/10.jpg) scroll center center;
        }
        .month_11 {
            background: url(../../imgs/page/newSchedule/monthBG/11.jpg) scroll center center;
        }
        .month_12 {
            background: url(../../imgs/page/newSchedule/monthBG/12.jpg) scroll center center;
        }
        .record {
            width: 100%;
            margin-bottom: 10px;
            &.day_end {
                margin-bottom: 30px;
            }
            .date {
                float: left;
                width: 20%;
                text-align: center;
                color: #70CFCE;
                margin-right: -3px;
                &.out_of_date {
                    color: #999;
                }
                &.invisibile {
                    visibility: hidden;
                }
                .day {
                    font-size: 30px;
                }
                .weekday {
                    font-size: 18px;
                }
            }
            .content {
                //padding: 5px 0px;
                float: left;
                position: relative;
                width: 75%;
                border-radius: 5px;
                .text {
                    &.contain_img, &.contain_map {
                        margin-top: 25px;
                        //height: 90px;
                    }
                    &.contain_map {
                        position: absolute;
                        bottom: 15px;
                        z-index: 102;
                        &.no_address {
                            bottom: -15px;
                        }
                    }
                    &.contain_img {
                        &.no_address {
                            margin-top: 55px;
                        }
                    }
                    font-size: 14px;
                    text-indent: 10px;
                    color: #fff;
                    div {
                        height: 30px;
                        line-height: 30px;
                    }
                }
                img {
                    width: 100%;
                    height: 70px;
                }
                .bmap {
                    border-radius: 5px;
                    height: 110px;
                    z-index: 100;
                }
                .map_mask {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.4;
                    z-index: 101;
                    border-radius: 5px;
                }
                a {
                    text-decoration: none;
                    color: #70CFCE;
                    font-size: 14px;
                    height: 50px;
                    line-height: 50px;
                    text-indent: 20px;
                }
            }
            .clearfix {
                clear:both;
                height: 0;
                line-height: 0;
                font-size: 0
            }
        }
        .current_time_line {
            position: relative;
            width: 75%;
            margin-left: 18%;
            border: 1px solid #70CFCE;
            margin-top: -5px;
            margin-bottom: 5px;
            &:before {
                position: absolute;
                left: -11px;
                top: -5px;
                width: 10px;
                height: 10px;
                background-color: #70CFCE;
                border-radius: 50%;
                content: "";
            }
        }
        .month_divide {
            position: relative;
            width: 100%;
            height: 200px;
            margin: 50px 0px;
            .text {
                position: absolute;
                left: 20%;
                top: 20px;
                color: #000;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    .add_btn {
        position: fixed;
        right: 20px;
        bottom:20px;
        box-shadow: 0px 1px 10px #888888;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #52CECE;
        text-align: center;
        line-height: 70px;
        font-size: 40px;
        color: #fff;
        z-index: 10004;
        transform: rotate(0deg);
        transition: 0.5s;
        &.open {
            transform: rotate(45deg);
            transition: 0.5s;
            background-color: #8F8F8F;
        }
    }
    .btn_detail {
        position: fixed;
        right: 25px;
        z-index: 10003;
        opacity: 0;
        &.move_up {
            -webkit-animation-name: move_up 0.5s;
            animation: move_up 0.5s;
            opacity: 1;
            bottom: 90px;
        }
        &.move_down {
            -webkit-animation-name: move_down 0.5s;
            animation: move_down 0.5s;
            opacity: 0;
            bottom: 20px;
        }
        div {
            margin-bottom: 20px;
            height: 60px;
            span {
                float: left;
                border: 1px solid #e4e4e4;
                background-color: #fff;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
                border-radius:5px;
                padding: 0px 3px;
                box-shadow: 0px 1px 10px #888888;
                margin-right: 30px;
                margin-top: 18px;
            }
            a {
                float: left;
                width: 60px;
                height: 60px;
                background-color: #52CECE;
                border-radius: 50%;
                box-shadow: 0px 1px 10px #888888;
                &.activity {
                    background: url("../../imgs/page/newSchedule/icon/ic_activity.png") no-repeat #52CECE 13px 13px;
                    background-size: 55%;
                }
                &.remind {
                    background: url("../../imgs/page/newSchedule/icon/ic_remind.png") no-repeat #52CECE 13px 13px;
                    background-size: 55%;
                }
            }
        }
    }
    .select_mask {
        position: fixed;
        display: none;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.9;
        z-index: 10002;
    }
}

@-webkit-keyframes move_up {
　　from {opacity: 0;bottom:20px;}
　　to {opacity: 1;bottom:90px;}
}
@keyframes move_up {
    　　from {opacity: 0;bottom:20px}
    　　to {opacity: 1;bottom:90px}
}
@-webkit-keyframes move_down {
    　　from {opacity: 1;bottom: 90px;}
    　　to {opacity: 0;bottom: 20px;}
}
@keyframes move_down {
    　　from {opacity: 1;bottom:90px;}
    　　to {opacity: 0;bottom: 20px;}
}