@import "../common/weui1.0.0.less";
@import "../common/common.less";
@import "../common/star.css";

.starTop{
    width:100%;
    height:200px;
    background: #66CCCC;
}
.starTop .topShadow{
    width:100%;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    background: rgba(0,0,0,0.2);
}
.starTop,.starImg{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.starTop .starInfo{
    position: absolute;
    bottom:10px;
    left:10px;
    height:60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.starImg{
    width:60px;
    height:60px;
    border: 2px solid rgba(255,255,255,0.9);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-right: 10px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
}
.starInfo_name{
    text-shadow:0 2px 1px #333;
}
.starName{
    height:40px;
    line-height: 50px;
    text-align: left;
}
.fansNum{
    height:20px;
    line-height: 20px;
    text-align: left;
}
/*---------------------中间主要内容--------------------*/
.container{
    width:100%;
    background: #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 101px;
    position: relative;
    overflow: hidden;
}
.line{
    height:100%;
    z-index: 1;
}
.dayCon .date{
    z-index: 10;
}
.news_con{
    width:100%;
    height:auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}
.news_con .news_list{
    width: 100%;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_con .news_list:active{
    background: #eee;
}
.news_con .news_list:active:after{
    border-left: 8px solid #eee;
}

.news_con .news_list:active:before{
    border-left: 8px solid #ccc;
}


.starNewsLeft{
    float: left;
    text-align: center;
    color: #6cc;
    border: 1px solid #6cc;
    border-radius: 5px;
    font-size: 10px;
    padding: 0 5px;
    margin: 7px 7px 0 0;
    line-height: 24px;
}
.news_con .toMore{
    border-bottom: 0;
    position: relative;
}
.news_con .toMore:after,.news_con .toMore:before{
    border: 8px solid transparent;
    border-left: 8px solid #fff;
    width:0;
    height:0;
    position: absolute;
    top:12px;
    right:2px;
    content:"";
}
.news_con .toMore:before{
    border-left-color: #CCCCCC;
    right:0;
}

.commentMore {
    margin: 0 auto;
    width: 100%;
    padding: 5px 0 20px;
    background: #f5f5f5;
}
.commentAdd {
    height:40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
}
.commentMore .commentAdd img{
    width:20px;
    vertical-align: middle;
}
/*-----------------底部---------------*/
.bottom{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    border-top: 1px solid #CCCCCC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(255,255,255,0.9);
    z-index: 10;
}
.bottom span{
    /*display: block;*/
    height:30px;
    line-height:30px;
}
.bottom .follow{
    display: block;
    height:30px;
    line-height:30px;
    padding: 0 20px;
    background: #66CCCC;
    text-align: center;
    margin: 0 auto;
}
.bottom .follow:active{
    background: rgba(102,204,204,0.9);
}

.bottom .follow img{
    height:20px;
    width:20px;
    vertical-align: middle;
    margin-right: 5px;
}
.shadow{
    z-index: 11;
}
.bottomSelect{
    width:100%;
    height:300px;
    position: fixed;
    left:0;
    bottom:-300px;
    background: #fff;
    z-index: 12;
    display: none;
}
.bottom_item,.bottom_top,.bottom_btn{
    width:100%;
    height:50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
    line-height: 50px;
    padding: 0 10px;
    color: #999;
    position: relative;
}
.bottom_item:active{
    background: rgba(0,0,0,0.1);
}
.bottom_item.active{
    color: #66CCCC;
}
.bottom_top{
    text-align: center;
    color: #66CCCC;
}
.bottom_btn{
    border-bottom: 0;
    text-align: center;
    padding: 10px;
    line-height: 30px;
}
.bottom_btn a{
    display: block;
    width:100%;
    height:30px;
    background: #66CCCC;
    color: #fff;
}
.bottom_btn a:active{
    background: rgba(102,204,204,0.9);
}
.selectImg{
    width:26px;
    height:26px;
    background: url("../../imgs/page/activity/ic_hook.png") no-repeat center center;
    background-size: contain;
    -webkit-background-size:  contain;
    position: absolute;
    top:12px;
    right:12px;
    display: none;
}
.active .selectImg{
    display: block;
}
.weui-dialog, .weui-mask{
    z-index: 99;
}
/*----------事件二维码样式------------*/
.shareShadow,.wxQrcode,.liLi{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 99;
}
.wxQrcode .wxQrcodeClose,.liLi_close{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 55px;
    right: 20px;
    background: url(/wx/./img/95904e71f9cfd4c42c628e611f5ab4cc.png) no-repeat center center;
    background-size: 80%;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.qrcodeImgCon,.liLi_qrcodeImgCon{
    height:auto;
    width:80%;
    margin: 0 auto;
    background: #fff;
    margin-top: 20%;
}
.qrcodeImg,.liLi_qrcodeImg{
    width:100%;
    text-align: center;
}
.qrcodeImg img,.liLi_qrcodeImg img{
    width:100%;
}
.qrcodeImgCon p,.liLi_qrcodeImgCon p{
    width:100%;
    color: #000;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}