<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加活动</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/wx/css/activity.css?59046868f18ac8d71e06" rel="stylesheet"></head>
<body>
<div class="eventCon fs14">
    <div class="titleNone cff">缺少事件名称</div>
    <div class="topTips">
        <div class="tipsCon"></div>
        <div class="showAll">
            <span></span>
        </div>
    </div>
    <div class="item eventTitle">
        <textarea class="eventName" id="eventTitle" placeholder="输入标题" rows="1"></textarea>
    </div>
    <div class="item time">
        <div class="icon">
            <img src="/wx/./img/b7b405cb4c40040418f5e4a295d8c5c5.png" alt="">
        </div>
        <div class="itemCon">
            <div class="startTime">
                <span class="timeText">开始</span>
                <span class="startCon timeCon">2016年9月20日 星期二 13:00</span>
                <div class="timeIconCon">
                    <span class="timeIcon"></span>
                </div>
            </div>
            <input type="text" id="startTime">
            <div class="endTime">
                <span class="timeText">结束</span>
                <span class="endCon timeCon">2016年9月20日 星期二 13:00</span>
            </div>
            <input type="text" id="endTime">
        </div>
    </div>
    <div class="item repetition">
        <div class="icon">
            <img src="/wx/./img/362553738984133b454927b8986760dd.png" alt="">
        </div>
        <div class="itemCon">
            <select name="select" class="select fs14" id="select">
                <option value="0">不重复</option>
                <option value="1">每天</option>
                <option value="2">每周</option>
                <option value="3">每工作日</option>
                <option value="4">每月</option>
                <option value="5">每年</option>
            </select>
        </div>
    </div>
    <div class="activityCon">
        <div class="item site">
            <div class="icon">
                <img src="/wx/./img/695697cdc21cc1eb54a94086171a63e8.png" alt="">
            </div>
            <div class="itemCon">
                <div class="siteText ccc">添加地点</div>
                
            </div>
        </div>
        <div class="item remind">
            <div class="icon">
                <img src="/wx/./img/5e4c0048af86d53f94abfcefc431c77a.png" alt="">
            </div>
            <div class="itemCon">
                <div class="remindCon">
                    <select name="select" class="select fs14" id="select1">
                        <option value="0">不提醒</option>
                        <option value="1" selected="selected">当天通知</option>
                        <option value="2">前一天</option>
                        <option value="3">指定时间</option>
                    </select>
                </div>
                <div class="remindTime"></div>
                <input type="text" id="remindTime">
            </div>
        </div>
        <div class="item colors">
            <div class="icon">
                <span class="colorShow"></span>
            </div>
            <div class="itemCon">
                <div class="colorText">默认颜色</div>
            </div>
        </div>
        <div class="item remark">
            <div class="icon">
                <img src="/wx/./img/d994ce48404a19363bc593c5f2387156.png" alt="">
            </div>
            <div class="itemCon">
                <div class="remarkCon">
                    <div class="remarkText ccc">添加备注添加备注添加备注添加备注添加备注添加备注添加备注</div>
                    <div class="remarkImgs"></div>
                </div>
                
            </div>
        </div>
        <div class="item share">
            <div class="icon">
                <img src="/wx/./img/0dddee1beca81f825d6093febd4881b4.png" alt="">
            </div>
            <div class="itemCon">
                <span>邀请微信好友</span>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="saveBtn cff">保存活动</a>
    <div class="delete fs12">删除此活动</div>
</div>

<script type="text/x-list" id="tagListTemplate">
    <a href="javascript:;" class="c00" data-template="{{templateId}}" data-tag="{{tagId}}">{{tagName}}</a>


</script>

<div id="dialog2" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">结束时间不能在开始时间之前</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>
<div id="dialog1" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd">
            <strong class="weui-dialog__title">温馨提示</strong>
        </div>
        <div class="weui_dialog__bd">确认保存事件并分享给好友吗？</div>
        <div class="weui_dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default default">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary confirm">确定</a>
        </div>
    </div>
</div>

<div class="shareShadow" id="shareShadow">
    <div class="shadowImg">
        <img src="/wx/./img/af9427dd0c8029e00018178528146f71.png" alt="">
    </div>
    <div class="qrcodeImgBox">
        <div class="qrcodeImgCon">

        </div>
        <a href="javascript:;" class=""></a>
    </div>
</div>

<div class="shadowBg"></div>

<div class="mapShadow shadow" id="mapShadow">
    <div class="shadowClose"></div>
    <div class="container">
        <div class="mapCon" id="mapCon">

        </div>
        <div class="imgCon" id="imgCon"></div>

        <div class="addressCon">
            <div class="listCon"></div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
    </div>
</div>

<div class="colorShadow shadow" id="colorShadow">
    <div class="shadowClose"></div>
    <div class="container">
        
        <div class="colorCon"></div>
        
        <div class="imageCon">
            <div class="colorItem items">
                <div class="colorCircle"></div>
                <div class="colorName ccc">图片主题</div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-colors" id="colorsListTemplate">
    <div class="colorItem items" data-colors = "{{color}}">
           <div class="colorCircle" data-colors = "{{color}}">
                   <span class="bigger">
                        <span class="smaller"></span></span>
                   </span>
           </div>
           <div class="colorName fs12">{{colorName}}</div>
           <div class="selectImg"></div>
    </div>


</script>
<script type="text/x-imgItem" id="imgListTemplate">
    <div class="imgItem items" data-id="{{themeId}}" data-color="{{themeColor}}" data-name="{{themeName}}">
        <div class="imgName cff">{{themeName}}</div>
        <div class="selectImg"></div>
    </div>


</script>

<div class="remarkShadow shadow" id="remarkShadow">
    <div class="container">
        <div class="title fs12">
            <a href="javascript:;" class="cancel ccc fl">取消</a>
            <a href="javascript:;" class="finished c6c fr">完成</a>
        </div>
        <div class="textCon">
            <textarea name="" id="remarkText" rows="6"></textarea>
        </div>
        <div class="remarkImg">
            <div class="page__bd">
                <div class="weui-gallery" id="gallery">
                    <span class="weui-gallery__img" id="galleryImg"></span>
                    <div class="weui-gallery__opr">
                        <a href="javascript:" class="weui-gallery__del">
                            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                        </a>
                    </div>
                </div>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-uploader">
                                <div class="weui-uploader__bd">
                                    <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                                    <div class="weui-uploader__input-box">
                                        <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="multiple">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="loadingToast" style="opacity:0;display:none">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <div class="ll-loading">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div>
        </div>
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>

<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<script type="text/x-address" id="addressListTemplate">
    <div class="item addressItem" data-jw="{{jw}}">
                <div class="icon">
                    <img src="/wx/./img/695697cdc21cc1eb54a94086171a63e8.png" alt="">
                </div>
                <div class="itemCon">
                    <span class="name">{{name}}</span>
                    <span class="address fs12 c33">{{address}}</span>
                </div>
            </div>


</script>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css">
<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=328b4ed0fd71e2782bf3677b9012a151"></script>

<script type="text/javascript" src="/wx/js/activity.js?59046868f18ac8d71e06"></script></body>
</html>