<head><link href="/wx/css/activity.css?e799c8b4b2864a2cd148" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Cannot resolve 'file' or 'directory' ../../assets/imgs/page/newAddEvent/ic_schedule.png in F:\project\LunarCalendar\views\page:
  Error: Cannot resolve 'file' or 'directory' ../../assets/imgs/page/newAddEvent/ic_schedule.png in F:\project\LunarCalendar\views\page
  
  - compiler.js:76 
    [LunarCalendar]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:214 Compiler.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compiler.js:214:10
  
  - Compiler.js:403 
    [LunarCalendar]/[webpack]/lib/Compiler.js:403:12
  
  - Tapable.js:67 Compiler.next
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:67:11
  
  - CachePlugin.js:40 Compiler.<anonymous>
    [LunarCalendar]/[webpack]/lib/CachePlugin.js:40:4
  
  - Tapable.js:71 Compiler.applyPluginsAsync
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:71:13
  
  - Compiler.js:400 Compiler.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compiler.js:400:9
  
  - Compilation.js:577 Compilation.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compilation.js:577:13
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:572 Compilation.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compilation.js:572:10
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:567 Compilation.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compilation.js:567:9
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:563 Compilation.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compilation.js:563:8
  
  - Tapable.js:60 Compilation.applyPluginsAsync
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:60:69
  
  - Compilation.js:525 Compilation.seal
    [LunarCalendar]/[webpack]/lib/Compilation.js:525:7
  
  - Compiler.js:397 Compiler.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compiler.js:397:15
  
  - Tapable.js:103 
    [LunarCalendar]/[webpack]/[tapable]/lib/Tapable.js:103:11
  
  - Compilation.js:445 Compilation.<anonymous>
    [LunarCalendar]/[webpack]/lib/Compilation.js:445:10
  
  - Compilation.js:417 
    [LunarCalendar]/[webpack]/lib/Compilation.js:417:12
  
  - Compilation.js:332 
    [LunarCalendar]/[webpack]/lib/Compilation.js:332:10
  
  - async.js:52 
    [LunarCalendar]/[webpack]/[async]/lib/async.js:52:16
  
  - async.js:246 done
    [LunarCalendar]/[webpack]/[async]/lib/async.js:246:17
  
  - async.js:44 
    [LunarCalendar]/[webpack]/[async]/lib/async.js:44:16
  
  - Compilation.js:332 
    [LunarCalendar]/[webpack]/lib/Compilation.js:332:10
  
  - async.js:52 
    [LunarCalendar]/[webpack]/[async]/lib/async.js:52:16
  
  - async.js:246 done
    [LunarCalendar]/[webpack]/[async]/lib/async.js:246:17
  
  - async.js:44 
    [LunarCalendar]/[webpack]/[async]/lib/async.js:44:16
  
</anonymous></anonymous></anonymous></anonymous></anonymous></anonymous></anonymous></anonymous></anonymous></pre><script type="text/javascript" src="/wx/js/activity.js?e799c8b4b2864a2cd148"></script>