<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历历</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/wx/css/addEvent.css?6755a5bfeb9f0f7a3559" rel="stylesheet"></head>
<body>
<div class="tips">
    <div class="title opa2 c00 fs12">
        接下来，你有什么安排
        <a href="javascript:;" class="change c00 fs16">换一批</a>
    </div>
    <div class="tipsCon"></div>
</div>
<div class="eventCon">
    <div class="eventTitle">
        <textarea class="eventName cff textarea" id="eventTitle" placeholder="自定义事件名称" rows="1"></textarea>
    </div>
    <div class="line"></div>
    <div class="time">
        <h1 class="title c00 opa2">时间</h1>
        <div class="startTime cff fs26">2016年8月15日 星期一 14:00</div>
        <input type="text" id="startTime">
        <p class="opa5 cff Addendtime">点击添加结束时间</p>
        <div class="endTimeCon">
            <div class="to c00 opa2">至</div>
            <div class="endTime cff fs26">2016年8月15日 星期一 14:00</div>
            <input type="text" id="endTime">
        </div>
    </div>
    <div class="line"></div>
    <div class="remind">
        <h1 class="title c00 opa2">提醒</h1>
        <div class="remindCon fs26">
            <div class="choice cff" id="addRemind">
                <span>不提醒</span>
                <span>前一天</span>
                <span class="active">当天</span>
                <span>指定时间</span>
            </div>
        </div>
        <div class="remind_time cff fs26">
            <span class="remindTime">2016年8月15日 星期一 16:00</span>
            <input type="text" id="remindTime">
        </div>
    </div>
    <div class="line"></div>
    <div class="others">
        <div class="othersShadow">
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="othersCon" style="height: 0px;overflow: hidden">
            <div class="repetition">
                <h1 class="title c00 opa2">重复</h1>
                <div class="repetitionCon fs26">
                    <div class="choice cff" id="addRepetition">
                        <span class="active">不重复</span>
                        <span>每天</span>
                        <span>每周</span>
                        <span>每工作日</span>
                        <span>每月</span>
                        <span>每年</span>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="site">
                <h1 class="title c00 opa2">地点</h1>
                <textarea name="site" id="site" class="textarea cff fs26" rows="1" placeholder="点击添加"></textarea>
                <div id="searchResultPanel" style="border:1px solid #c0c0c0;width: 300px;height: auto;display: none"></div>
            </div>
            <div class="line"></div>
            <div class="remarks">
                <h1 class="title c00 opa2">备注</h1>
                <textarea name="remarks" id="remarks" class="textarea cff fs26" rows="1" placeholder="点击添加"></textarea>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <a class="share cff fs26" href="javascript:;">@ 微信好友共享事件</a>
    <div class="blank"></div>
</div>
<div class="bottom">
    <a href="javascript:;" class="cancel cff fs26">取消</a>
    <a href="javascript:;" class="finished cff fs26">完成</a>
</div>

<script type="text/x-list" id="tagListTemplate">
    <a href="javascript:;" class="cff">{{tagName}}</a>
</script>

<div class="weui_dialog_alert" id="dialog2" style="display: none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">温馨提示</strong></div>
        <div class="weui_dialog_bd">结束时间不能在开始时间之前</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div class="weui_dialog_confirm" id="dialog1" style="display: none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
            <strong class="weui_dialog_title">温馨提示</strong>
        </div>
        <div class="weui_dialog_bd">确认保存事件并分享给好友吗？</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary confirm">确定</a>
        </div>
    </div>
</div>

<div id="loadingToast" class="weui_loading_toast" style="display:none">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="ll-loading" style="top:40%">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>

<div class="shareShadow" id="shareShadow">
    <div class="shadowImg">
        <img src="/wx/./img/af9427dd0c8029e00018178528146f71.png" alt="">
    </div>
    <div class="qrcodeImgBox">
        <div class="qrcodeImgCon">
            <div class="qrcodeImg"></div>
            <p>扫描二维码也可加入事件</p>
        </div>
    </div>
</div>

<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<script src="http://api.map.baidu.com/api?v=2.0&ak=Nv4xifhhDjKpB1DP6uDwd3cNbHeH2PaV"></script>
<script type="text/javascript" src="/wx/js/addEvent.js?6755a5bfeb9f0f7a3559"></script></body>
</html>