<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>历历</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    
    
    
    
<link href="/wx/css/calendar.css?6755a5bfeb9f0f7a3559" rel="stylesheet"></head>
<body>
<header class="toolbar" id="toolbar">
    
        
            
                
                
                
                
                
                
                
                    
                        
                        
                            
                                
                            
                        
                    
                
            
        
        
    
    <h1 class="cff opa5"></h1>
    <span class="luckyDay c6c border6c">查询吉日</span>
    <span class="today c6c border6c" style="display: none">今</span>
    <div class="action"><a href="javascript:;" class="addEvent c6c">+添加事件</a></div>
</header>
<div class="wrapper" id="wrapper">
    <div class="date_row date_week">
        <div class="date_item">日</div>
        <div class="date_item">一</div>
        <div class="date_item">二</div>
        <div class="date_item">三</div>
        <div class="date_item">四</div>
        <div class="date_item">五</div>
        <div class="date_item">六</div>
    </div>
    <div class="slide_wrap">
        <div class="date_slide">
            <div class="date_list" id="date_list_0">
            </div>
            <div class="date_list" id="date_list_1">
            </div>
        </div>
    </div>
</div>
<div class="schedule cff08">
    <h1><span class="scheBtn active">日程事件</span><span class="almaBtn">老黄历</span></h1>
    <div class="scheduleContainer">
        <div class="scheduleList">
            <div class="scheduleBg" style="display: block">
                <div class="bg opa3"></div>
                <div class="text">
                    <a href="javascript:;" class="addEvent c6c">立即添加事件</a>
                    <p>做一个井井有条的人</p>
                </div>
            </div>
            <div class="scheduleCon" style="display: none"></div>
        </div>
        <div class="almanac">
            <div class="privateAlmanac">
                <p class="title">
                    <span class="c6c alterBirthday" style="display: none">修改</span>
                    <input type="text" id="alterBirthday">
                    <span>私人</span><span class="birthday cff05"></span>
                </p>
                <div class="alCon">
                    <div class="alConBg" style="display: block">
                        <a href="javascript:;" class="prevate c6c">设置生日，查看自己的黄历</a>
                        <input type="text" id="birthday">
                    </div>
                    <div class="content" style="display: none">
                        <div class="conLeft">
                            <p class="suitable">宜</p>
                        </div>
                        <div class="conRight">
                            <p class="suitColor"></p>
                            <p class="suitMatter"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publicAlmanac">
                <p class="title">公众</p>
                <div class="alCon">
                    <div class="suitable">
                        <p class="suitableText">宜</p>
                        <p class="pubSuitMatter"></p>
                    </div>
                    <div class="taboo">
                        <p class="tabooText">忌</p>
                        <p class="tabooMatter"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lucky cff08">
    <h1 class="title">黄道吉日查询</h1>
    <div class="luckyWord">
        <div class="word_row">
            <div class="word_item"><span>博彩</span></div>
            <div class="word_item"><span>约么</span></div>
            <div class="word_item"><span>求医</span></div>
            <div class="word_item"><span>和好</span></div>
            <div class="word_item"><span>表白</span></div>
            <div class="word_item"><span>结婚</span></div>
        </div>
        <div class="word_row">
            <div class="word_item"><span>旅行</span></div>
            <div class="word_item"><span>谈生意</span></div>
            <div class="word_item"><span>签约</span></div>
            <div class="word_item"><span>聚会</span></div>
            <div class="word_item"><span>开张</span></div>
            <div class="word_item"><span>搬迁</span></div>
        </div>
        <div class="word_row">
            <div class="word_item"><span>理发</span></div>
            <div class="word_item"><span>动土</span></div>
            <div class="word_item"><span>置业</span></div>
            <div class="word_item"><span>面试</span></div>
            <div class="word_item"><span>祈福</span></div>
            <div class="word_item"><span>交易</span></div>
        </div>
    </div>
    <div class="close"></div>
</div>
<div class="lucky02 cff08" id="lucky02">
    <div class="close02"></div>
    <div class="frame">
        <div class="inFrame">
            <div class="word_item"><span>博彩</span></div>
            <div class="word_item"><span>约么</span></div>
            <div class="word_item"><span>求医</span></div>
            <div class="word_item"><span>和好</span></div>
            <div class="word_item"><span>表白</span></div>
            <div class="word_item"><span>结婚</span></div>
            <div class="word_item"><span>旅行</span></div>
            <div class="word_item"><span>谈生意</span></div>
            <div class="word_item"><span>签约</span></div>
            <div class="word_item"><span>聚会</span></div>
            <div class="word_item"><span>开张</span></div>
            <div class="word_item"><span>搬迁</span></div>
            <div class="word_item"><span>置业</span></div>
            <div class="word_item"><span>面试</span></div>
            <div class="word_item"><span>祈福</span></div>
            <div class="word_item"><span>交易</span></div>
            <div class="word_item"><span>理发</span></div>
            <div class="word_item"><span>动土</span></div>
        </div>
    </div>
</div>

<script type="text/x-event" id="eventListTemplate">
        <p class="list" id="{{eventId}}">
            <span class="time">{{time}}</span>
            <span class="matter">{{name}}</span>
            <span class="num opa5">{{count}}</span>
            <span class="partner opa5">{{user}}</span>
        </p>
</script>

<div class="weui_dialog_alert" id="dialog2" style="display: none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">温馨提示</strong></div>
        <div class="weui_dialog_bd">填写您的生日后才可查看吉日</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>

<div id="loadingToast" class="weui_loading_toast" style="display:none">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="ll-loading" style="top:40%">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>

<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"> <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>










<script type="text/javascript" src="/wx/js/calendar.js?6755a5bfeb9f0f7a3559"></script></body>
</html>
