<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>multiImgUpload</title>
<link href="/wx/css/multiImgUpload.css?c62a1798a81e57a509b2" rel="stylesheet"></head>

<body>
<form name="form1" id="form">
    <div class="img_upload_box">
        <input type="file" class="img_upload_btn" name="photo">
        <a href="javascript:;">+</a>
    </div>
    <div>
        <p><input type="button" name="b1" value="submit" id="btn"></p>
    </div>
</form>
<script type="text/javascript" src="/wx/js/multiImgUpload.js?c62a1798a81e57a509b2"></script></body>
</html>