<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加提醒</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/wx/css/remind.css?60a8793ba38c038d2513" rel="stylesheet"></head>
<body>
<div class="eventCon fs14">
    <div class="titleNone cff">缺少事件名称</div>
    <div class="topTips">
        <div class="tipsCon"></div>
        <div class="showAll">
            <span></span>
        </div>
    </div>
    <div class="item eventTitle">
        <textarea class="eventName" id="eventTitle" placeholder="输入标题" rows="1"></textarea>
    </div>
    <div class="item time">
        <div class="icon">
            <img src="/wx/./img/b7b405cb4c40040418f5e4a295d8c5c5.png" alt="">
        </div>
        <div class="itemCon">
            <div class="startTime">
                <span class="startCon timeCon">2016年9月20日 星期二 13:00</span>
            </div>
            <input type="text" id="startTime">
        </div>
    </div>
    <div class="item repetition">
        <div class="icon">
            <img src="/wx/./img/362553738984133b454927b8986760dd.png" alt="">
        </div>
        <div class="itemCon">
            <select name="select" class="select fs14" id="select">
                <option value="0">不重复</option>
                <option value="1">每天</option>
                <option value="2">每周</option>
                <option value="3">每工作日</option>
                <option value="4">每月</option>
                <option value="5">每年</option>
            </select>
        </div>
    </div>
</div>
<a href="javascript:;" class="saveBtn cff">保存提醒</a>
<div class="delete fs12">删除此提醒</div>

<script type="text/x-list" id="tagListTemplate">
    <a href="javascript:;" class="c00" data-template="{{templateId}}" data-tag="{{tagId}}">{{tagName}}</a>
</script>

<div id="loadingToast" style="opacity:0;display:none">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <div class="ll-loading">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div>
        </div>
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>

<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<div id="dialog1" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd">
            <strong class="weui-dialog__title">温馨提示</strong>
        </div>
        <div class="weui_dialog__bd">确定要删除该事件吗？</div>
        <div class="weui_dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default default">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary confirm">确定</a>
        </div>
    </div>
</div>

<div id="dialog2" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd"></div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/wx/js/remind.js?60a8793ba38c038d2513"></script></body>
</html>