<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历历-日程</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/wx/css/schedule.css?77a723380cd00c77b9ce" rel="stylesheet"></head>
<body>
<div class="container">
    <div class="listCon"></div>
</div>
<div class="containerShadow" style="display: none">
    <div class="imgCon"></div>
    <a href="javascript:;" class="addEvent">立即添加事件</a>
    <p>做一个井井有条的人</p>
</div>

<script type="text/x-list" id="eventListTemplate">
        <p class="monthStart cff">{{month}}</p>
         <div class="singleCon" data-date="{{date}}">
            <div class="left cff08">
                <div class="leftCon">
                    <p class="day fs30">{{day}}</p>
                    <p class="week fs18">{{week}}</p>
                    <p class="nlDate fs18">{{nlDate}}</p>
                </div>
            </div>
            <div class="right cff">
                <div class="eventList"></div>
            </div>
        </div>
    </script>

<script type="text/x-event" id="dayEventListTemplate">
        <p class="list" id="{{eventId}}">
            <span class="time">{{time}}</span>
            <span class="matter">{{name}}</span>
            <span class="list-right cff05">
                <span class="num">{{count}}</span>
                <span class="partner">{{user}}</span>
            </span>
        </p>
</script>

<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"> <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<script type="text/javascript" src="/wx/js/schedule.js?77a723380cd00c77b9ce"></script></body>
</html>