<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历历</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="stylesheet" href="css/mobiscroll.custom-3.0.0-beta4.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/common.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/addEvent.css">-->
    <!--<link rel="stylesheet" href="css/weui.min.css">-->
    <!--<script src="js/mobiscroll.custom-3.0.0-beta4.min.js"></script>-->
    <!--<script src="js/jquery-1.9.1.min.js"></script>-->
</head>
<body>
<div class="tips">
    <div class="title opa2 c00 fs12">
        接下来，你有什么安排
        <a href="javascript:;" class="change c00 fs16">换一批</a>
    </div>
    <div class="tipsCon"></div>
</div>
<div class="eventCon">
    <div class="eventTitle">
        <textarea class="eventName cff textarea" id="eventTitle" placeholder="自定义事件名称" rows="1"></textarea>
    </div>
    <div class="line"></div>
    <div class="time">
        <h1 class="title c00 opa2">时间</h1>
        <div class="startTime cff fs26">2016年8月15日 星期一 14:00</div>
        <input type="text" id="startTime">
        <div class="to c00 opa2">至</div>
        <div class="endTime cff fs26">2016年8月15日 星期一 14:00</div>
        <input type="text" id="endTime">
    </div>
    <div class="line"></div>
    <div class="remind">
        <h1 class="title c00 opa2">提醒</h1>
        <div class="remindCon fs26">
            <div class="choice cff" id="addRemind">
                <span>不提醒</span>
                <span>前一天</span>
                <span class="active">当天</span>
                <span>指定时间</span>
            </div>
        </div>
        <div class="remind_time cff fs26">
            <span class="remindTime">2016年8月15日 星期一 16:00</span>
            <input type="text" id='remindTime'>
        </div>
    </div>
    <div class="line"></div>
    <div class="others">
        <div class="othersShadow">
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="othersCon" style="height: 0px;overflow: hidden">
            <div class="repetition">
                <h1 class="title c00 opa2">重复</h1>
                <div class="repetitionCon fs26">
                    <div class="choice cff" id="addRepetition">
                        <span class="active">不重复</span>
                        <span>每天</span>
                        <span>每周</span>
                        <span>每工作日</span>
                        <span>每月</span>
                        <span>每年</span>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="site">
                <h1 class="title c00 opa2">地点</h1>
                <textarea name="site" id="site" class="textarea cff fs26" rows="1" placeholder="点击添加"></textarea>
                <div id="searchResultPanel"
                     style="border:1px solid #c0c0c0;width: 300px;height: auto;display: none"></div>
            </div>
            <div class="line"></div>
            <div class="remarks">
                <h1 class="title c00 opa2">备注</h1>
                <textarea name="remarks" id="remarks" class="textarea cff fs26" rows="1" placeholder="点击添加"></textarea>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <a class="share cff fs26" href="javascript:;">@ 微信好友共享事件</a>
    <div class="blank"></div>
</div>
<div class="bottom">
    <a href="javascript:;" class="cancel cff fs26">取消</a>
    <a href="javascript:;" class="finished cff fs26">完成</a>
</div>
<!--标题标签模板-->
<script type="text/x-list" id="tagListTemplate">
    <a href="javascript:;" class="cff">{{tagName}}</a>
</script>
<!--点击完成，若开始时间在结束时间之后，则弹出提示框-->
<div class="weui_dialog_alert" id="dialog2" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">温馨提示</strong></div>
        <div class="weui_dialog_bd">结束时间不能在开始时间之前</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div class="weui_dialog_confirm" id="dialog1" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
            <strong class="weui_dialog_title">温馨提示</strong>
        </div>
        <div class="weui_dialog_bd">确认保存事件并分享给好友吗？</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary confirm">确定</a>
        </div>
    </div>
</div>
<!--数据加载时的loading-->
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="ll-loading" style="top:40%;">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div><!-- end la-2x -->
                </div><!-- end ll-load-container -->
            </div><!-- end ll-load-inner -->
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div><!-- end ll-loading -->
        </div><!-- end ll-loading -->
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<!--提示用户点击右上角实现分享功能-->
<div class="shareShadow" id="shareShadow">
    <div class="shadowImg">
        <img src="../../assets/imgs/page/addEvent/share-tips.png" alt="">
    </div>
</div>
<!--<script src="js/touchslider.js"></script>-->
<!--<script src="js/transCalendar.js"></script>-->
<!--<script src="js/ajax.js"></script>-->
<!--<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
<!--<script src="js/wenxinInit.js"></script>-->
<script src="http://api.map.baidu.com/api?v=2.0&ak=Nv4xifhhDjKpB1DP6uDwd3cNbHeH2PaV"></script>
<!--<script src="js/fastclick.js"></script>-->
<!--<script src="js/rem.js"></script>-->
<!--<script src="js/autoTextarea.js"></script>-->
<!--<script>-->
    <!--//事件Id-->
    <!--var eventId = "";-->
    <!--//用户nickName-->
    <!--var nickName = "";-->
    <!--$(function () {-->
        <!--wxConfig(1);-->
        <!--//获取用户想要设置事件的日期-->
        <!--var time = getRequest("date");-->
        <!--//修改日期格式-->
        <!--var timeArr = transTime(time);-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;点击顶部标签，事件题目改变，标签栏自动隐藏&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--function hideTags(){-->
            <!--$('.tipsCon a').click(function (event) {-->
                <!--$('.eventName').val($(this).html());-->
                <!--tagName  = $(this).html();-->
                <!--$('.tips').slideUp();-->
                <!--event.preventDefault();-->
            <!--});-->
        <!--}-->
        <!--$('.eventName').focus(function () {-->
            <!--$('.tips').slideUp(800);-->
        <!--});-->
        <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;底部按钮动态显示&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--setTimeout(function(){-->
            <!--$('.bottom').animate({"bottom":"0px"},500);-->
        <!--},500);-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;转换日期格式，开始时间加10分钟，结束时间加20分钟-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--function transTime(time) {-->
            <!--var date = new Date();-->
            <!--var timeArr = time.split('-');-->
            <!--var theTime = time.replace(/\-/g, "/");-->
            <!--var theDate = new Date(theTime);-->
            <!--var theWeek = transWeek(theDate);-->
            <!--var startHour = date.getHours(),startMinute = date.getMinutes()+10;-->
            <!--var endHour = date.getHours(),endMinute = date.getMinutes()+20;-->
            <!--if(startMinute>=60){-->
                <!--startHour = startHour+1;-->
                <!--if(startMinute-60>=10){-->
                    <!--startMinute = startMinute-60;-->
                <!--}else{-->
                    <!--startMinute = "0"+(startMinute-60);-->
                <!--}-->
                <!--if(startHour==24){-->
                    <!--startHour = 23;-->
                    <!--startMinute = date.getMinutes();-->
                <!--}-->
            <!--}-->
            <!--if(endMinute>=60){-->
                <!--endHour = endHour+1;-->
                <!--if(endMinute-60>=10){-->
                    <!--endMinute = endMinute-60;-->
                <!--}else{-->
                    <!--endMinute = "0"+(endMinute-60);-->
                <!--}-->
                <!--if(endHour==24){-->
                    <!--endHour = 23;-->
                    <!--endMinute = date.getMinutes();-->
                <!--}-->
            <!--}-->
            <!--var startId = time + " " + startHour + ":" + startMinute + ":00";-->
            <!--var endId = time + " " + endHour + ":" + endMinute + ":00";-->
            <!--//给开始时间，结束时间，提醒时间设置ID，提交数据时只需要提交id内容即可-->
            <!--$('.startTime').attr("id", startId);-->
            <!--$('.endTime').attr("id", endId);-->
            <!--$('.remindTime').attr("id", startId);-->
            <!--var startTime = timeArr[0] + "年" + timeArr[1] + "月" + timeArr[2] + "日" + " " + theWeek + " " + startHour + ":" + startMinute,-->
                    <!--endTime = timeArr[0] + "年" + timeArr[1] + "月" + timeArr[2] + "日" + " " + theWeek + " " + endHour + ":" + endMinute;-->
            <!--return [startTime,endTime];-->
        <!--}-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;修改开始时间、结束时间、指定提醒时间样式，为其设置时间选择器的初始值-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--function setInitTime(obj){-->
            <!--var time = obj.attr("id");-->
            <!--var date = time.split(" ");-->
            <!--var theDate = date[0].replace(/\-/g,"/"),-->
                    <!--theTime = date[1].split(":");-->
            <!--return theDate+" "+theTime[0]+":"+theTime[1];-->
        <!--}-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;页面加载时，点击换一批时像后台请求事件标签&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--var tagName = "";-->
        <!--getTags();-->
        <!--$('.change').click(function(){-->
            <!--$('#loadingToast').show();-->
            <!--getTags();-->
        <!--});-->
        <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;从后台获取事件标签，一次获取十条数据&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--function getTags(){-->
            <!--var template = $('#tagListTemplate').html();-->
            <!--var html = "";-->
            <!--$.get("http://www.li-li.cn/llwx/tag/list",function(data){-->
<!--//                console.log(data);-->
                <!--if(data.code==0) {-->
                    <!--$('#loadingToast').fadeOut();//隐藏loading-->
                    <!--var list = data.data;-->
                    <!--for (var i = 0; i < list.length; i++) {-->
                        <!--html += template.replace(/{{tagName}}/g, list[i].tagName);-->
                    <!--}-->
                    <!--$('.tipsCon').html("").append(html);-->
                    <!--hideTags();-->
                <!--}else{//数据加载失败显示错误提示框-->
                    <!--$('#loadingToast').fadeOut();//隐藏loading-->
                    <!--var error = data.msg;-->
                    <!--$('#dialog2 .weui_dialog_bd').html(error);-->
                    <!--$('#dialog2').show().on('click', '.weui_btn_dialog', function () {-->
                        <!--$('#dialog2').off('click').hide();-->
                    <!--});-->
                <!--}-->
            <!--})-->
        <!--}-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;开始时间、结束时间、指定提醒时间的时间显示-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--$('.startTime').html(timeArr[0]);-->
        <!--$('.endTime').html(timeArr[1]);-->
        <!--$('.remindTime').html(timeArr[0]);-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;显示隐藏部分-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--$('.othersShadow').click(function () {-->
            <!--$('.othersShadow').css({'display': 'none'});-->
            <!--$('.othersCon').css({'height': 'auto'});-->
        <!--});-->
        <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;提醒、重复下方的滑动选择效果-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--var active = 0,-->
                <!--re = document.getElementById('addRemind').getElementsByTagName('span');-->
        <!--for (var i = 0; i < re.length; i++) {-->
            <!--(function () {-->
                <!--var j = i;-->
                <!--re[i].onclick = function () {-->
                    <!--remind.slide(j);-->
                    <!--return false;-->
                <!--}-->
            <!--})();-->
        <!--}-->
        <!--var remind = new TouchSlider('addRemind', {-->
            <!--duration: 1000,-->
            <!--direction: 0,-->
            <!--start: 2,-->
            <!--align: 'center',-->
            <!--mouse: true,-->
            <!--mousewheel: false,-->
            <!--arrowkey: false,-->
            <!--fullsize: false,-->
            <!--autoplay: false-->
        <!--});-->
        <!--remind.on('before', function (m, n) {-->
            <!--re[m].className = '';-->
            <!--re[n].className = 'active';-->
            <!--if (n == 3) {-->
                <!--$('.remind_time').slideDown();-->
            <!--} else {-->
                <!--$('.remind_time').css({'display': 'none'});-->
            <!--}-->
        <!--});-->
        <!--var repe = document.getElementById('addRepetition').getElementsByTagName('span');-->
        <!--for (var k = 0; k < repe.length; k++) {-->
            <!--(function () {-->
                <!--var l = k;-->
                <!--repe[l].onclick = function () {-->
                    <!--repetition.slide(l);-->
                    <!--return false;-->
                <!--}-->
            <!--})();-->
        <!--}-->
        <!--var repetition = new TouchSlider('addRepetition', {-->
            <!--duration: 1000,-->
            <!--direction: 0,-->
            <!--start: 0,-->
            <!--align: 'center',-->
            <!--mouse: true,-->
            <!--mousewheel: false,-->
            <!--arrowkey: false,-->
            <!--fullsize: false,-->
            <!--autoplay: false-->
        <!--});-->
        <!--repetition.on('before', function (m, n) {-->
            <!--repe[m].className = '';-->
            <!--repe[n].className = 'active';-->
        <!--});-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;开始时间、结束时间、指定提醒时间三个地方的日期选择功能-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--selectTimes('#startTime', '.startTime').setVal(new Date(setInitTime($('.startTime'))));-->
        <!--selectTimes('#endTime', '.endTime').setVal(new Date(setInitTime($('.endTime'))));-->
        <!--selectTimes('#remindTime', '.remindTime').setVal(new Date(setInitTime($('.remindTime'))));-->
        <!--function selectTimes(obj1, obj2) {-->
            <!--var selb = mobiscroll.datetime(obj1, {-->
                <!--theme: 'android-holo-light',-->
                <!--lang: 'zh',-->
                <!--display: 'bottom',-->
                <!--timeWheels: 'yy-mm-dd HHii',-->
                <!--dateFormat: 'yy-mm-dd HH:ii',-->
                <!--min: new Date(1921, 1, 1),-->
                <!--max: new Date(2020, 1, 1),-->
                <!--readonly: false,-->
                <!--onShow: function (event, inst) {-->
                    <!--var theDate = inst._tempValue;-->
                    <!--transDate(theDate,true);-->
                <!--},-->
                <!--onSet: function (event, inst) {-->
                    <!--var selectedDate = inst.getVal();//获取选择时间的标准形式-->
                    <!--var selectedTime = inst._tempValue;//获取选择时间 yyyy/mm/dd  hh:ii-->
                    <!--var selectedDateArr = inst._wheelArray;//获取选择时间的数组 [yy,mm,dd,hh,ii]-->
                    <!--var selectedTimeArr = selectedTime.split(" ");-->
                    <!--var theWeek = transWeek(selectedDate);-->
                    <!--$(obj2).html(selectedDateArr[0] + "年" + tf(parseInt(selectedDateArr[1]) + 1) + "月" + tf(selectedDateArr[2]) + "日" + " " + theWeek + " " + selectedTimeArr[1]);-->
                    <!--var theId = selectedDateArr[0] + "-" + tf(parseInt(selectedDateArr[1]) + 1) + "-" + tf(selectedDateArr[2]) + " " + selectedTimeArr[1] + ":00";-->
                    <!--$(obj2).attr("id", theId);-->
                    <!--if(obj2 =='.startTime'){//若修改的是开始时间的日期，则指定提醒时间日期等于开始时间，结束时间比开始时间大10分钟-->
                        <!--$('.remindTime').html(selectedDateArr[0] + "年" + tf(parseInt(selectedDateArr[1]) + 1) + "月" + tf(selectedDateArr[2]) + "日" + " " + theWeek + " " + selectedTimeArr[1]);-->
                        <!--$(".remindTime").attr("id", theId);-->
                        <!--var endMinute = selectedDateArr[4]+10,endHour = selectedDateArr[3];-->
                        <!--if(endMinute>=60){-->
                            <!--endHour = endHour+1;-->
                            <!--if(endMinute-60>=10){-->
                                <!--endMinute = endMinute-60;-->
                            <!--}else{-->
                                <!--endMinute = tf(endMinute-60);-->
                            <!--}-->
                            <!--if(endHour==24){-->
                                <!--endHour = 23;-->
                                <!--endMinute = selectedDateArr[4];-->
                            <!--}-->
                        <!--}-->
                        <!--$('.endTime').html(selectedDateArr[0] + "年" + tf(parseInt(selectedDateArr[1]) + 1) + "月" + tf(selectedDateArr[2]) + "日" + " " + theWeek + " " +endHour+":"+endMinute);-->
                        <!--var theEndId = selectedDateArr[0] + "-" + tf(parseInt(selectedDateArr[1]) + 1) + "-" + tf(selectedDateArr[2]) + " " + endHour+":"+endMinute + ":00";-->
                        <!--$('.endTime').attr("id",theEndId);-->
                        <!--selectTimes('#endTime', '.endTime').setVal(new Date(setInitTime($('.endTime'))));//重新设置结束时间的初始值-->
                        <!--selectTimes('#remindTime', '.remindTime').setVal(new Date(setInitTime($('.remindTime'))));//重新设置提醒时间的初始值-->
                    <!--}-->
                <!--},-->
                <!--onChange: function (event, inst) {-->
                    <!--var changeDate = inst._tempValue;-->
                    <!--transDate(changeDate,true);-->
                <!--}-->
            <!--});-->
            <!--return selb;-->
        <!--}-->
        <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;地点输入提示功能-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--//百度地图API功能-->
        <!--function G(id) {-->
            <!--return document.getElementById(id);-->
        <!--}-->
        <!--var ac = new BMap.Autocomplete({-->
            <!--"input": "site"-->
        <!--});-->
        <!--ac.setLocation("上海");-->
        <!--ac.addEventListener("onhightlight", function (e) {-->
            <!--var str = "";-->
            <!--var _value = e.fromitem.value;-->
            <!--var value = "";-->
            <!--if (e.fromitem.index > -1) {-->
                <!--value = _value.province + _value.city + _value.district + _value.street + _value.business;-->
            <!--}-->
            <!--str = "FromItem<br/>index=" + e.fromitem.index + "<br/>value=" + value;-->
            <!--value = "";-->
            <!--if (e.toitem.index > -1) {-->
                <!--_value = e.toitem.value;-->
                <!--value = _value.province + _value.city + _value.district + _value.street + _value.business;-->
            <!--}-->
            <!--str += "<br/>ToItem<br/>index=" + e.toitem.index + "<br/>value=" + value;-->
            <!--G("searchResultPanel").innerHTML = str;-->
        <!--});-->
        <!--var myValue;-->
        <!--ac.addEventListener("onconfirm", function (e) {-->
            <!--var _value = e.item.value;-->
            <!--myValue = _value.province + _value.city + _value.district + _value.street + _value.business;-->
            <!--G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;-->
        <!--});-->
        <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;点击完成按钮，提交数据，提交成功后跳转至月历页面-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--$('.finished').click(function () {-->
            <!--$('#loadingToast').show();//显示loading-->
            <!--var name = $('.eventName').val().replace(/\s+/, ""),-->
                    <!--startTime = $('.startTime').attr('id'),-->
                    <!--endTime = $('.endTime').attr('id'),-->
                    <!--tipType = $('.remindCon .choice .active').index(),-->
                    <!--repeatType = $('.repetitionCon .choice .active').index(),-->
                    <!--remark = $('#remarks').val(),-->
                    <!--location = $('#site').val(),-->
                    <!--tipTime = "";-->
            <!--if (tipType == 3) {-->
                <!--tipTime = $('.remindTime').attr("id");-->
            <!--}-->
            <!--if (name == "") {//如果没有填写事件名称，不提交事件，提醒用户填写名称-->
                <!--$.scojs_message('缺少事件名称', $.scojs_message.TYPE_ERROR);-->
                <!--$('#loadingToast').fadeOut();-->
            <!--} else {-->
                <!--if (eventId) {-->
                    <!--var data = sessionStorage.getItem(eventId);//获得存储的事件信息-->
                    <!--if (name == data[0] &&tagName ==data[1] &&startTime == data[2] && endTime == data[3] && tipType == data[4] && repeatType == data[5] && remark == data[6] && location == data[7] && tipTime == data[8]) {//事件未修改-->
                        <!--$('#loadingToast').fadeOut();-->
                        <!--window.location.href = "http://www.li-li.cn/llwx/common/to?url2=" + encodeURIComponent("http://www.li-li.cn/wx/calendar.html");-->
                    <!--} else {-->
                        <!--$.post('http://www.li-li.cn/llwx/event/modify', {-->
                                    <!--"eventId": eventId,-->
                                    <!--"name": name,-->
                                    <!--"tags":tagName,-->
                                    <!--"startTime": startTime,-->
                                    <!--"endTime": endTime,-->
                                    <!--"tipType": tipType,-->
                                    <!--"repeatType": repeatType,-->
                                    <!--"location": location,-->
                                    <!--"remark": remark,-->
                                <!--}, function (data) {-->
                                    <!--if (data.code == 0) {//修改成功弹出提示框-->
                                        <!--$('#loadingToast').fadeOut();-->
                                        <!--window.location.href = "http://www.li-li.cn/llwx/common/to?url2=" + encodeURIComponent("http://www.li-li.cn/wx/calendar.html");-->
                                    <!--} else {//修改失败弹出提示框-->
                                        <!--$('#loadingToast').fadeOut();-->
                                        <!--var error = data.msg;-->
                                        <!--$('#dialog2 .weui_dialog_bd').html(error);-->
                                        <!--$('#dialog2').show().on('click', '.weui_btn_dialog', function () {-->
                                            <!--$('#dialog2').off('click').hide();-->
                                        <!--});-->
                                    <!--}-->
                                <!--}-->
                        <!--)-->
                    <!--}-->
                <!--} else {-->
                    <!--eventAdd(name,tagName,startTime, endTime, tipType, tipTime, repeatType, location, remark);-->
                <!--}-->
            <!--}-->
        <!--});-->
        <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;点击取消按钮，跳转至月历页面/上一页&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--$('.cancel').click(function () {-->
<!--//            window.location.href = "http://www.li-li.cn/llwx/common/to?url2=" + encodeURIComponent("http://www.li-li.cn/wx/calendar.html");-->
            <!--window.location.href = document.referrer;//返回上一个页面并刷新-->
        <!--});-->
        <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;点击分享&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
        <!--$(".share").click(function () {-->
            <!--if (eventId) {-->
                <!--//todo 弹出蒙层-->
                <!--shareShadow(); //显示分享提示弹出层，点击后隐藏-->
            <!--} else {-->
                <!--var name = $('.eventName').val().replace(/\s+/, ""),-->
                        <!--startTime = $('.startTime').attr('id'),-->
                        <!--endTime = $('.endTime').attr('id'),-->
                        <!--tipType = $('.remindCon .choice .active').index(),-->
                        <!--repeatType = $('.repetitionCon .choice .active').index(),-->
                        <!--remark = $('#remarks').val(),-->
                        <!--location = $('#site').val(),-->
                        <!--tipTime = "";-->
                <!--if (name == "") {//如果没有填写事件名称，不提交事件，提醒用户填写名称-->
<!--//                    $('.errorTips').css("display", "block");-->
                    <!--$.scojs_message('缺少事件名称', $.scojs_message.TYPE_ERROR);-->
                <!--}else {-->
                    <!--$('#dialog1').show();-->
                    <!--$('#dialog1 .confirm').click(function () {//点击确定-->
                        <!--eventAdd2(name,tagName,startTime, endTime, tipType, tipTime, repeatType, location, remark);-->
                        <!--getUserInformation2();-->
                        <!--wxConfig(2, nickName + " 邀请您参加 「" + name+"」", $('.startTime').html(),-->
                                <!--"http://www.li-li.cn/llwx/common/to?url2=" + encodeURIComponent("http://www.li-li.cn/wx/showEvent.html?eventId=" + eventId));-->
                        <!--sessionStorage.setItem(eventId, [name, tagName,startTime, endTime, tipType, repeatType, remark, location, tipTime]);-->
                        <!--$('#dialog1').hide();-->
                        <!--//todo 弹出蒙层-->
                        <!--shareShadow(); //显示分享提示弹出层，点击后隐藏-->
                    <!--});-->
                    <!--$('.default').click(function () {-->
                        <!--$('#dialog1').hide();-->
                    <!--});-->
                <!--}-->
            <!--}-->
        <!--});-->
    <!--});-->
    <!--/*-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;弹出分享提示层，点击并隐藏&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
    <!--function shareShadow(){-->
        <!--var shareShadow = $('.shareShadow');-->
        <!--shareShadow.css("display","block");//显示分享提示层-->
        <!--shareShadow.click(function(){-->
            <!--$(this).fadeOut();-->
        <!--});-->
        <!--var share = document.getElementById('shareShadow');-->
        <!--share.addEventListener('touchmove', function (e) {-->
            <!--e.preventDefault();-->
        <!--});-->
    <!--}-->
<!--</script>-->
</body>
</html>