<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>月历</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<header class="toolbar" id="toolbar">
    <h1 class="opa5"></h1>
    <span class="luckyDay c6c border6c">查询吉日</span>
    <span class="today c6c border6c" style="display: none">今</span>
</header>
<div class="wrapper" id="wrapper">
    <div class="date_row date_week">
        <div class="date_item">日</div>
        <div class="date_item">一</div>
        <div class="date_item">二</div>
        <div class="date_item">三</div>
        <div class="date_item">四</div>
        <div class="date_item">五</div>
        <div class="date_item">六</div>
    </div>
    <div class="slide_wrap">
        <div class="date_slide">
            <div class="date_list" id="date_list_0">
            </div><!--date_list-->
            <div class="date_list" id="date_list_1">
            </div><!--date_list-->
        </div>
    </div>
</div>
<div class="schedule">
    <h1><span class="scheBtn active">日程事件</span><span class="almaBtn">老黄历</span></h1>
    <div class="scheduleContainer">
        <div class="scheduleList"><!--日程-->
            <div class="scheduleBg" style="display: block;"><!--未添加事项背景-->
                <div class="bg opa3"></div>
                <div class="text">
                    <!--<a href="javascript:;" class="addEvent c6c">立即添加事件</a>                    -->
                    <p>立即添加事件</p>
                    <p>做一个井井有条的人</p>
                </div>
            </div>
            <div class="scheduleCon" style="display: none;"></div><!--显示事件列表-->
        </div>
        <div class="almanac"><!--黄历-->
            <div class="privateAlmanac">
                <p class="title">
                    <span class="c6c alterBirthday" style="display: none;">修改</span>
                    <input type="text" id="alterBirthday">
                    <span>私人</span><span class="birthday"></span>
                </p>
                <div class="alCon">
                    <div class="alConBg" style="display: block;"><!--未查询私人黄历背景-->
                        <a href="javascript:;" class="prevate c6c">设置生日，查看自己的黄历</a>
                        <input type="text" id="birthday" >
                    </div>
                    <div class="content" style="display: none;"><!--私人黄历内容显示-->
                        <div class="conLeft">
                            <p class="suitable">宜</p>
                        </div>
                        <div class="conRight">
                            <p class="suitColor"></p>
                            <p class="suitMatter"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publicAlmanac"><!--公众黄历内容显示-->
                <p class="title">公众</p>
                <div class="alCon">
                    <div class="suitable">
                        <p class="suitableText">宜</p>
                        <p class="pubSuitMatter"></p>
                    </div>
                    <div class="taboo">
                        <p class="tabooText">忌</p>
                        <p class="tabooMatter"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lucky cff08"><!--底部吉日查询列表-->
    <h1 class="title">黄道吉日查询</h1>
    <div class="luckyWord">
        <div class="word_row">
            <div class="word_item"><span>博彩</span></div>
            <div class="word_item"><span>约么</span></div>
            <div class="word_item"><span>求医</span></div>
            <div class="word_item"><span>和好</span></div>
            <div class="word_item"><span>表白</span></div>
            <div class="word_item"><span>结婚</span></div>
        </div>
        <div class="word_row">
            <div class="word_item"><span>旅行</span></div>
            <div class="word_item"><span>谈生意</span></div>
            <div class="word_item"><span>签约</span></div>
            <div class="word_item"><span>聚会</span></div>
            <div class="word_item"><span>开张</span></div>
            <div class="word_item"><span>搬迁</span></div>
        </div>
        <div class="word_row">
            <div class="word_item"><span>理发</span></div>
            <div class="word_item"><span>动土</span></div>
            <div class="word_item"><span>置业</span></div>
            <div class="word_item"><span>面试</span></div>
            <div class="word_item"><span>祈福</span></div>
            <div class="word_item"><span>交易</span></div>
        </div>
    </div>
    <div class="close"></div>
</div>
<div class="lucky02 cff08" id="lucky02">
    <div class="close02"></div>
    <div class="frame">
        <div class="inFrame">
            <div class="word_item"><span>博彩</span></div>
            <div class="word_item"><span>约么</span></div>
            <div class="word_item"><span>求医</span></div>
            <div class="word_item"><span>和好</span></div>
            <div class="word_item"><span>表白</span></div>
            <div class="word_item"><span>结婚</span></div>
            <div class="word_item"><span>旅行</span></div>
            <div class="word_item"><span>谈生意</span></div>
            <div class="word_item"><span>签约</span></div>
            <div class="word_item"><span>聚会</span></div>
            <div class="word_item"><span>开张</span></div>
            <div class="word_item"><span>搬迁</span></div>
            <div class="word_item"><span>置业</span></div>
            <div class="word_item"><span>面试</span></div>
            <div class="word_item"><span>祈福</span></div>
            <div class="word_item"><span>交易</span></div>
            <div class="word_item"><span>理发</span></div>
            <div class="word_item"><span>动土</span></div>
        </div>
    </div>
</div>


<!--全局添加按钮 开始-->
<div class="calendar_add">
    <div id="addActivity" class="add_btn">+</div>
    <div id="btnDetail" class="btn_detail">
        <div>
            <span>活动</span>
            <a href="javascript:;" class="activity"></a>
        </div>
        <div>
            <span>提醒</span>
            <a href="javascript:;" class="remind"></a>
        </div>
    </div>
    <div class="select_mask"></div>
</div>
<!--全局添加按钮  结束-->



<!--事件列表模板-->
<script type="text/x-event" id="eventListTemplate">
        <p class="list" id="{{eventId}}">
            <span class="time">{{time}}</span>
            <span class="matter">{{name}}</span>
            <span class="num opa5">{{count}}</span>
            <span class="partner opa5">{{user}}</span>
        </p>
</script>
<!--点击吉日，若用户未设置生日，则弹出提示框-->
<div id="dialog2" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">填写您的生日后才可查看吉日</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>
<!--数据加载时的loading-->
<div id="loadingToast" style="opacity:0;display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <div class="ll-loading">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div><!-- end la-2x -->
                </div><!-- end ll-load-container -->
            </div><!-- end ll-load-inner -->
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div><!-- end ll-loading -->
        </div><!-- end ll-loading -->
        <!--<p class="weui-toast__content">数据加载中</p>-->
    </div>
</div>
<!--横屏-->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"> <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
</body>
</html>
