<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>历历</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link rel="stylesheet" type="text/css" href="css/mobiscroll.custom-3.0.0-beta4.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/common.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/weui.min.css">-->
    <!--<script src="js/jquery-1.9.1.min.js"></script>-->
</head>
<body>
<header class="toolbar" id="toolbar">
    <!--<script>-->
        <!--jQuery.LLloadingCommon = {-->
            <!--PageLoading: function (options) {-->
                <!--var defaults = {opacity: 1, backgroundColor: "#000", delayTime: 500, zindex: 999, sleep: 500};-->
                <!--var options = $.extend(defaults, options);-->
                <!--var _PageHeight = document.documentElement.clientHeight, _PageWidth = document.documentElement.clientWidth;-->
                <!--var _LLLoadingHtml = '<div id="loadingPage" style="position:fixed;left:0;top:0;_position: absolute;width:100%;height:' + _PageHeight + 'px;background:' + options.backgroundColor + ';opacity:' + options.opacity + ';filter:alpha(opacity=' + options.opacity * 100 + ');z-index:' + options.zindex + ';"><div class="ll_loading_con"><div class="ll-loading"><div class="ll-load-inner"><div class="ll-load-container"><div class="ll-load-scale-multiple la-2x"><div></div><div></div><div></div></div></div></div><div class="ll-load-logo"><span class="ll-logo-1"></span><span class="ll-logo-2"></span><span class="ll-logo-3"></span></div></div></div></div>';-->
                <!--$("body").append(_LLLoadingHtml);-->
                <!--document.onreadystatechange = PageLoaded;-->
                <!--function PageLoaded() {-->
                    <!--if (document.readyState == "complete") {-->
                        <!--var loadingMask = $('#loadingPage');-->
                        <!--setTimeout(function () {-->
                            <!--loadingMask.animate({"opacity": 0}, options.delayTime, function () {-->
                                <!--$(this).remove()-->
                            <!--})-->
                        <!--}, options.sleep)-->
                    <!--}-->
                <!--};-->
            <!--}-->
        <!--}-->
        <!--$.LLloadingCommon.PageLoading({backgroundColor: "#12101A"});-->
    <!--</script>-->
    <h1 class="c6c opa7"></h1>
    <span class="luckyDay c6c border6c">吉</span>
    <span class="today c6c border6c" style="display: none">今</span>
    <div class="action"><a href="javascript:;" class="addEvent c6c">+添加事件</a></div>
</header>
<div class="wrapper" id="wrapper">
    <div class="date_row date_week">
        <div class="date_item">日</div>
        <div class="date_item">一</div>
        <div class="date_item">二</div>
        <div class="date_item">三</div>
        <div class="date_item">四</div>
        <div class="date_item">五</div>
        <div class="date_item">六</div>
    </div>
    <div class="slide_wrap">
        <div class="date_slide">
            <div class="date_list" id="date_list_0">
            </div><!--date_list-->
            <div class="date_list" id="date_list_1">
            </div><!--date_list-->
        </div>
    </div>
</div>
<div class="schedule cff08">
    <h1><span class="scheBtn active">日程</span> <span> · </span><span class="almaBtn">黄历</span></h1>
    <div class="scheduleContainer">
        <div class="scheduleList"><!--日程-->
            <div class="scheduleBg" style="display: block;"><!--未添加事项背景-->
                <div class="bg opa3"></div>
                <div class="text">
                    <a href="javascript:;" class="addEvent c6c">立即添加事件</a>
                    <p>做一个井井有条的人</p>
                </div>
            </div>
            <div class="scheduleCon" style="display: none;"></div><!--显示事件列表-->
        </div>
        <div class="almanac"><!--黄历-->
            <div class="privateAlmanac">
                <p class="title">
                    <span class="c6c alterBirthday" style="display: none;">修改</span>
                    <input type="text" id="alterBirthday">
                    <span>私人</span><span class="birthday cff05"></span>
                </p>
                <div class="alCon">
                    <div class="alConBg" style="display: block;"><!--未查询私人黄历背景-->
                        <a href="javascript:;" class="prevate c6c">设置生日，查看自己的黄历</a>
                        <input type="text" id="birthday" >
                    </div>
                    <div class="content" style="display: none;"><!--私人黄历内容显示-->
                        <div class="conLeft">
                            <p class="suitable">宜</p>
                        </div>
                        <div class="conRight">
                            <p class="suitColor"></p>
                            <p class="suitMatter"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publicAlmanac"><!--公众黄历内容显示-->
                <p class="title">公众</p>
                <div class="alCon">
                    <div class="suitable">
                        <p class="suitableText">宜</p>
                        <p class="pubSuitMatter"></p>
                    </div>
                    <div class="taboo">
                        <p class="tabooText">忌</p>
                        <p class="tabooMatter"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lucky cff08"><!--底部吉日查询列表-->
    <h1 class="title">黄道吉日查询</h1>
    <div class="luckyWord">
        <div class="word_row">
            <div class="word_item"><span>博彩</span></div>
            <div class="word_item"><span>约么</span></div>
            <div class="word_item"><span>求医</span></div>
            <div class="word_item"><span>和好</span></div>
            <div class="word_item"><span>表白</span></div>
            <div class="word_item"><span>结婚</span></div>
        </div>
        <div class="word_row">
            <div class="word_item"><span>旅行</span></div>
            <div class="word_item"><span>谈生意</span></div>
            <div class="word_item"><span>签约</span></div>
            <div class="word_item"><span>聚会</span></div>
            <div class="word_item"><span>开张</span></div>
            <div class="word_item"><span>搬迁</span></div>
        </div>
        <div class="word_row">
            <div class="word_item"><span>理发</span></div>
            <div class="word_item"><span>动土</span></div>
            <div class="word_item"><span>置业</span></div>
            <div class="word_item"><span>面试</span></div>
            <div class="word_item"><span>祈福</span></div>
            <div class="word_item"><span>交易</span></div>
        </div>
    </div>
    <div class="close"></div>
</div>
<div class="lucky02 cff08" id="lucky02">
    <div class="close02"></div>
    <div class="frame">
        <div class="inFrame">
            <div class="word_item"><span>博彩</span></div>
            <div class="word_item"><span>约么</span></div>
            <div class="word_item"><span>求医</span></div>
            <div class="word_item"><span>和好</span></div>
            <div class="word_item"><span>表白</span></div>
            <div class="word_item"><span>结婚</span></div>
            <div class="word_item"><span>旅行</span></div>
            <div class="word_item"><span>谈生意</span></div>
            <div class="word_item"><span>签约</span></div>
            <div class="word_item"><span>聚会</span></div>
            <div class="word_item"><span>开张</span></div>
            <div class="word_item"><span>搬迁</span></div>
            <div class="word_item"><span>置业</span></div>
            <div class="word_item"><span>面试</span></div>
            <div class="word_item"><span>祈福</span></div>
            <div class="word_item"><span>交易</span></div>
            <div class="word_item"><span>理发</span></div>
            <div class="word_item"><span>动土</span></div>
        </div>
    </div>
</div>
<!--事件列表模板-->
<script type="text/x-event" id="eventListTemplate">
        <p class="list" id="{{eventId}}">
            <span class="time">{{time}}</span>
            <span class="matter">{{name}}</span>
            <span class="num opa5">{{count}}</span>
            <span class="partner opa5">{{user}}</span>
        </p>
</script>
<!--点击吉日，若用户未设置生日，则弹出提示框-->
<div class="weui_dialog_alert" id="dialog2" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">温馨提示</strong></div>
        <div class="weui_dialog_bd">填写您的生日后才可查看吉日</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<!--数据加载时的loading-->
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="ll-loading" style="top:40%;">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div><!-- end la-2x -->
                </div><!-- end ll-load-container -->
            </div><!-- end ll-load-inner -->
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div><!-- end ll-loading -->
        </div><!-- end ll-loading -->
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>
<script src="js/mobiscroll.custom-3.0.0-beta4.min.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script src="js/transCalendar.js"></script>
<script src="js/ajax.js"></script>
<script type="text/javascript" src="js/hammer.min.js"></script>
<script type="text/javascript" src="js/jquery.hammer.min.js"></script>
<script type="text/javascript" src="js/LunarCalendar.js"></script>
<script type="text/javascript" src="js/calendar.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/wenxinInit.js"></script>
<script type="text/javascript">
    var birthday = "";
    var selectWord = "";
    var isGoodDay=false;
    $(function () {
        var screenHeight = $(document.body).height(),
                toolbarHeight = $('#toolbar').height(),
                wrapperHeight = $('.wrapper').height(),
                titleHeight = $('.schedule h1').height();
        var otherHeight = screenHeight-toolbarHeight-wrapperHeight-titleHeight;
        console.log(otherHeight);
        wxConfig(1);
        getUserInformation();//获取用户信息，若用户设置了生日，则可获取生日
        getEventOfMonth();//判断当前页面的时间中有没有事件，有事件的在下方加点
        /*----------------------------------进入页面时，显示当天的事件列表和运势-------------------------------------------*/
        var theDay = $('.date_current').attr('id');
        getEventOfDay(theDay);//获取一天的事件
        getFortune(theDay);//获取当天的黄历
        /*------------------------------------点击添加事件按钮，跳转至添加事件页面------------------------------------*/
        $('.addEvent').click(function () {
            var dateCurrent = $('.date_current').attr('id');
            $('body').html("").css("background", "#66cccc");
            window.location.href = "http://www.li-li.cn/llwx/common/to?url2=" + encodeURIComponent("http://www.li-li.cn/wx/addEvent.html?date=" + dateCurrent);
            event.preventDefault();
        });
        /*--------------------------获取点击日期，显示当天的日程列表和运势--------------------------*/
        clickDate();
        /*--------------点击/滑动的tab切换效果，容器高度随显示内容变化--------------------------*/
        $('.scheduleCon').css("min-height",otherHeight+"px");
        var scheHeight = parseInt($('.scheduleList').css('height'));
        $('.schedule').css("height", 40+scheHeight+"px");
        $('.scheBtn').hammer().on('tap', function (event) {
            slideRight();
        });
        $('.almaBtn').hammer().on('tap', function (event) {
            slideLeft();
        });
        $('.scheduleList').hammer().on('swipeleft', function (event) {
            slideLeft();
            event.preventDefault();
            event.gesture.preventDefault();
            return false;
        });
        $('.almanac').hammer().on('swiperight', function (event) {
            slideRight();
            event.preventDefault();
            event.gesture.preventDefault();
            return false;
        });
        /*--------------------------------吉日-------------------------------*/
        var _btns = $('.lucky .word_item span');
        var _btnsB = $('.inFrame .word_item span');
        var num02 = 0;
        var screenWidth = $(document.body).width();//获取屏幕宽度
        $('.inFrame').css("width",3*screenWidth+"px");//底部一行吉日容器的宽度
        /*---------------------------点击上方吉日按钮，若用户设置了生日则显示吉日列表，没有设置则提示用户设置生日-------------*/
        $('.luckyDay').hammer().on('tap', function (event) {
            if (birthday) {
                _btns.each(function () {
                    $(this).removeClass("active");
                });
                $('.lucky').animate({'bottom': '0px'}, 500);
                $('.lucky02').fadeOut("slow");
            } else {
                $('#dialog2').show().on('click', '.weui_btn_dialog', function () {
                    $('#dialog2').hide();
                    isGoodDay=true;
                    selectBirthday.show();
                });
            }
        });
        /*----------------------------------点击吉日列表中的选项---------------------------*/
        _btns.hammer().on('tap', function (event) {
            $('#loadingToast').show();//显示loading效果
            var dateItem = getDateList();
            _btns.each(function () {
                $(this).removeClass("active");
            });
            $(this).addClass('active');//选中项添加样式
            selectWord = $(this).html();//选中吉日类型
            showLuckyDay(selectWord);//调用后台数据，显示合适的日期

            var wordItem = $('.lucky02 .word_item span');
//            console.log(wordItem.size());
            for (var j = 0; j < wordItem.size(); j++) {
                wordItem.eq(j).removeClass("active");
            }
            var num1 = $(this).parent().index();
            num02 = $(this).parent().parent().index();
            var num = num1 + num02 * 6;
            $('.inFrame').css('left', -num02 * screenWidth + 'px');
            $('.inFrame .word_item span').eq(num).attr("class", "active");
            luckyWordConDown();
        });

        /*--------------------点击一行吉日列表中的吉日选项，合适的日期-------------------------*/
        _btnsB.hammer().on("tap", function (event) {
            $('#loadingToast').show();//显示loading效果
            _btnsB.each(function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");
            selectWord = $(this).html();
            showLuckyDay(selectWord);
        });
        /*------------------一行吉日列表的滑动查看效果-----------------------*/
        var lucky02 = document.getElementById('lucky02');
        lucky02.addEventListener("touchmove", function (e) {
            e.preventDefault();
        });
        var timer1 = null, timer2 = null;
        $('.lucky02').hammer().on('swipeleft', function (event) {
            clearInterval(timer1);
            clearInterval(timer2);
            timer1 = setInterval(function () {
                num02 += 0.05;
                if (num02.toFixed(2) % 1 == 0) {
                    clearInterval(timer1);
                }
                if (num02 > 2) {
                    clearInterval(timer1);
                    num02 = 2;
                }
                $('.inFrame').css('left', -num02 * screenWidth + 'px');
            }, 15);
            event.preventDefault();
            event.gesture.preventDefault();
            return false;
        });
        $('.lucky02').hammer().on('swiperight', function (event) {
            clearInterval(timer2);
            clearInterval(timer1);
            timer2 = setInterval(function () {
                num02 -= 0.05;
                if (num02.toFixed(2) % 1 == 0) {
                    clearInterval(timer2);
                }
                if (num02 < 0) {
                    num02 = 0;
                    clearInterval(timer2);
                }
                $('.inFrame').css('left', -num02 * screenWidth + 'px');
            }, 15);
            event.preventDefault();
            event.gesture.preventDefault();
            return false;
        });
    });
    /*--------------------点击日历上方日期，则吉日列表变为一行-------------------------*/
    function luckyWordConDown() {
        var dateItem = getDateList();
        dateItem.hammer().on("tap", function (event) {
            console.log($(this).attr('id'));
            if (selectWord != null && selectWord != "") {
                $('.lucky').animate({'bottom': "-265px"}, 500, function () {
                    $('.lucky02').fadeIn("slow");
                });
            }
        })
    }
    /*------------------点击吉日列表中的关闭按钮，列表隐藏，日历中所有日期恢复初始状态-----------------------*/
    $('.close').hammer().on('tap', function (event) {
        selectWord = "";
        var dateItem = getDateList();
        var wordItem = $('.luckyWord .word_item span');
        $('.lucky').animate({'bottom': "-265px"}, 500);
        for (var i = 0; i < dateItem.size(); i++) {
            dateItem.eq(i).removeClass("Not-lucky");
        }
        for (var j = 0; j < wordItem.size(); j++) {
            wordItem.eq(i).removeClass("active");
        }
    });
    $('.close02').hammer().on('tap', function (event) {
        selectWord = "";
        var dateItem = getDateList();
        var wordItem = $('.lucky02 .word_item span');
        $('.lucky02').fadeOut("slow");
        for (var i = 0; i < dateItem.size(); i++) {
            dateItem.eq(i).removeClass("Not-lucky");
        }
        for (var j = 0; j < wordItem.size(); j++) {
            wordItem.eq(j).removeClass("active");
        }
    });
    /*----------------获取当前显示的日历数组---------------------*/
    function getDateList() {
        var dateItem = "";
        var theDateList = $('.date_slide .date_list');
        for (var i = 0; i < theDateList.size(); i++) {
            if (theDateList.eq(i).attr("class") == "date_list active") {
                dateItem = theDateList.eq(i).find('.date_item');
            } else {
                dateItem = theDateList.eq(0).find('.date_item');
            }
        }
        return dateItem;
    }
    /*-----------------------向左滑动时让schedule的高度等于黄历内容的高度------------------------*/
    function slideLeft() {
        $('.scheBtn').removeClass('active');
        $('.almaBtn').addClass('active');
        $('.scheduleList').animate({"left": "-100%"}, 500);
        $('.almanac').animate({"left": "0px"}, 500);
        var almaHeight = parseInt($('.almanac').css('height'));
        $('.schedule').css('height', 40 + almaHeight + "px");
    }
    /*--------------------向右滑动时让schedule的高度等于日程内容的高度-------------------------*/
    function slideRight() {
        $('.scheBtn').addClass('active');
        $('.almaBtn').removeClass('active');
        $('.scheduleList').animate({left: "0px"}, 500);
        $('.almanac').animate({left: "100%"}, 500);
        var scheHeight = parseInt($('.scheduleList').css('height'));
        $('.schedule').css('height', 40 + scheHeight + "px");
    }
    /*--------------------获取点击日期并显示当天的事件列表和运势-------------------------*/
    function clickDate() {
        var dateItem = getDateList();
        for (var i = 0; i < dateItem.size(); i++) {
            dateItem.eq(i).hammer().on('tap', function (event) {
                var index = $(this).index();
                var selectDate = $(this).parent().find('.date_item').eq(index).attr('id');
//                    console.log(selectDate);
                if (selectDate) {
                    /*--------------比较页面中选中那天与今天是否相等，若不相等，则显示今天按钮------------*/
                    var today = new Date();
                    var dayT = today.getDate();
                    var monthT = today.getMonth()+1;
                    var yearT = today.getFullYear();
                    var currentDayArr = selectDate.split("-");
                    if (dayT == currentDayArr[2] && monthT == currentDayArr[1] && yearT == currentDayArr[0]) {
                        $('.today').css("display", "none");
                    } else {
                        $('.today').css("display", "block");
                    }
                    getEventOfDay(selectDate);
                    getFortune(selectDate);
                }
            });
        }
    }
    //吉日查询函数
    function showLuckyDay(selectWord) {//选择的吉日，日期数组
        var dateItem = getDateList();
        var startTime = dateItem.eq(0).attr("id"),
                endTime = dateItem.eq(dateItem.size() - 1).attr("id");
        $.get("http://www.li-li.cn/llwx/fortune/getLuckDay", {
            "startTime": startTime + " 08:00:00",
            "endTime": endTime + " 08:00:00",
            "luckDaytag": selectWord,
        }, function (data) {
            if (data.code == 0) {
                $('#loadingToast').fadeOut();//隐藏loading效果
//                console.log(data);
                var data = data.data;
                for (var i = 0; i < dateItem.size(); i++) {
                    dateItem.eq(i).removeClass("Not-lucky");
                    if (dateItem.eq(i).attr('id')) {
                        for (var j = 0; j < data.length; j++) {
                            if (dateItem.eq(i).attr("id") == data[j].date && data[j].falg == 0) {
                                dateItem.eq(i).addClass("Not-lucky");
                            }
                        }
                    }
                }
            }else{
                $('#loadingToast').fadeOut();//显示loading效果

            }
        })
    }
    var wrapper = document.getElementById('wrapper');
    wrapper.addEventListener('touchmove', function (e) {
        e.preventDefault();
    });
    /*--------------------------点击设置生日、修改生日时弹出日期选择器-------------------------------*/
    var selectBirthday = selectBirthdayDate('#birthday');//选择生日
    selectBirthday.setVal(new Date("1990/01/01"));
    function selectBirthdayDate(obj) {
        var selb = mobiscroll.date(obj, {
            theme: 'android-holo-light',
            lang: 'zh',
            display: 'bottom',
            dateFormat: 'yyyy-mm-dd',
            min: new Date(1921, 1, 1),
            max: new Date(2020, 1, 1),
            readonly: false,
            onShow: function (event, inst) {
                var theDate = inst._tempValue;
                transDate(theDate);
            },
            onSet: function (event, inst) {
                if(isGoodDay){//跳转吉日
                    isGoodDay=false;
                    $('.lucky').animate({'bottom': '0px'}, 500);
                }
                $('#loadingToast').show();//显示loading
                var selectedDate = inst.getVal();//获取选择时间的标准形式
                var selectedTime = inst._tempValue;//获取选择时间 yyyy-mm-dd
//                console.log(selectedTime);
                $('.alConBg').css("display", "none");
                $('.content').css("display", "block");
                setBirthday(selectedTime);//将用户设置的生日传至后台
                birthday = selectedTime + "08:00:00";//保存用户设置的生日
                var birthdayStr = selectedTime.replace(/\-/g,"-"),
                        birthdayArr = selectedTime.split("-");
                selectBirthdayDate('#alterBirthday').setVal(new Date(birthdayStr));
                $('.birthday').html("（"+birthdayArr[1]+"-"+birthdayArr[2]+"）");
            },
            onChange: function (event, inst) {
                var changeDate = inst._tempValue;
                transDate(changeDate);
            },
            onCancel: function (event, inst) {
                slideLeft();
                isGoodDay=false;
            }
        });
        return selb;
    }
    function transDate(date) {
        var ca = new tranCalendar();
        var dateArr = date.split(" ");
        var dateTimeArr = dateArr[0].split("-");
        var theDate = new Date(dateArr[0]);
        var theNl = ca.getls(theDate);
        var theNlDate = '';
        if (dateArr[1]) {
            theNlDate = dateTimeArr[0] + "年" + theNl[2] + "月" + theNl[3] + " " + dateArr[1];
        } else {
            theNlDate = dateTimeArr[0] + "年" + theNl[2] + "月" + theNl[3];
        }
        $('.mbsc-fr-hdr').html(theNlDate);
    }
    function transWeek(day) {
        var week = day.getDay();
        switch (week) {
            case 0:
                week = "星期日";
                break;
            case 1:
                week = "星期一";
                break;
            case 2:
                week = "星期二";
                break;
            case 3:
                week = "星期三";
                break;
            case 4:
                week = "星期四";
                break;
            case 5:
                week = "星期五";
                break;
            case 6:
                week = "星期六";
                break;
        }
        return week;
    }
    //首页获取用户信息
    function getUserInformation() {
        $.ajax({
            type: "get",
            url: "http://www.li-li.cn/llwx/user/detail",
            dataType: "json",
            success: function (data) {
                if (data.code == 0) {
                    birthday = data.data.birthday;
                    if (birthday != null && birthday != "") {
                        var birthdayArr = birthday.split(" ");
                        var birthdayStr = birthdayArr[0].replace(/\-/g, "/"),
                                birthdayDateArr = birthdayArr[0].split("-");
                        selectBirthdayDate('#alterBirthday').setVal(new Date(birthdayStr));
                        $('.birthday').html("（"+birthdayDateArr[1]+"-"+birthdayDateArr[2]+"）");
                    }
                }
            }
        });
    }
</script>
</body>
</html>
