<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<!--顶部显示背景图片-->
<div class="eventContainer fs14" style="visibility: hidden;">
    <div class="topCon">
        <div class="eventName fs24 cff"></div>
        <div class="compile">
            <div>
                <img src="../../assets/imgs/page/newShowEvent/ic_edit.png" alt="">
            </div>
        </div>
    </div>
        <!--备注-->
        <div class="remark item">
            <div class="icon">
                <img src="../../assets/imgs/page/activity/ic_sort.png" alt="">
            </div>
            <div class="itemCon">
                <div class="remarkText"></div>
                <div class="remarkImgs" style="display: none">
                    <!--<img src="../../assets/imgs/common/weixin_icon.png" alt="">-->
                </div>
            </div>
        </div>
    <div class="time item">
        <div class="icon">
            <img src="../../assets/imgs/page/activity/ic_schedule.png" alt="">
        </div>
        <div class="itemCon">

        </div>
    </div>
        <!--地址-->
        <div class="site item">
            <div class="icon">
                <img src="../../assets/imgs/page/activity/ic_place.png" alt="">
            </div>
            <div class="itemCon">
                <div class="siteName"></div>
                <div class="siteAddress ccc fs12"></div>
            </div>
        </div>
    <div class="suitable item">
        <div class="icon">
            <img src="../../assets/imgs/page/activity/ic_suitable.png" alt="">
        </div>
        <div class="itemCon"></div>
    </div>
    <div class="weather item">
        <div class="icon">
            <img src="../../assets/imgs/page/activity/ic_weather.png" alt="">
        </div>
        <div class="itemCon"></div>
    </div>
    <div class="avtivityCon">
        <!--参与人数-->
        <div class="participant item">
            <div class="icon">
                <img src="../../assets/imgs/page/activity/ic_social.png" alt="">
            </div>
            <div class="itemCon">
                <div class="peopleCount"><span class="count"></span>位参与成员</div>
                <div class="peopleList">
                    <div class="peopleItem fl">
                        <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="" class="fl eventOwner">
                        <div class="ownerNickName fl">
                            <div class="nickName"></div>
                            <div class="ccc ownerPosition fs12">组织者</div>
                        </div>
                    </div>
                    <div class="peopleItem fl morePeople">
                        <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="" class="fl">
                        <div class="c6c nickNames fl">更多成员</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blank"></div>
    <!--事件创建人进入页面时底部显示样式-->
    <div class="bottom bottom1">
        <div class="bottomText ccc fl"></div>
        <div class="share c6c fr">生成邀请卡</div>
    </div>
    <!--未加入事件者进入页面时底部显示样式-->
    <div class="bottom bottom2">
        <div class="bottomText ccc fl">来自#<span class="ownerName"></span>的邀请</div>
        <div class="join c6c fr">接受邀请</div>
    </div>
    <!--已加入事件者进入页面时-->
    <div class="bottom bottom3">
        <div class="exit fl">已接受</div>
        <div class="share c6c fr">生成邀请卡</div>
    </div>
</div>
<!--事件已不存在，则弹出提示-->
<div class="eventNone" id="eventNone">
    <div class="imgCon"></div>
    <p class="fs14">事件不存在或已被删除</p>
</div>
<!--横屏-->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<!--提示用户点击右上角实现分享功能-->
<div class="shareShadow" id="shareShadow">
    <div class="shadowImg">
        <img src="../../assets/imgs/common/opacity_img.png" alt="">
    </div>
    <a href="javascript:;" class="shareImgClose cff fs14">保存并分享给好友</a>
</div>
<!--弹出二维码-->
<div class="wxQrcode">
    <span class="wxQrcodeClose"></span>
    <div class="qrcodeImgCon">
        <div class="qrcodeImg"></div>
        <p>长按识别二维码<br/>即可参与活动</p>
    </div>
</div>
<!--用户退出事件时的弹框提醒-->
<div id="dialog1" style="opacity: 0;display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd">
            <strong class="weui-dialog__title">温馨提示</strong>
        </div>
        <div class="weui-dialog_bd">您确定要退出该事件吗？</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" id="cancel">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="confirm">确定</a>
        </div>
    </div>
</div>
<!--用户退出事件成功后的提示-->
<div id="toast" style="opacity: 0;display: none">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">已完成</p>
    </div>
</div>
<!--用户操作失败后的提示-->
<div id="dialog2" style="opacity: 0;display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd"></div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
        </div>
    </div>
</div>
<!-----------弹层背景---------->
<div class="shadowBg"></div>
<!-----------------地图弹层----------------->
<div class="mapShadow shadow" id="mapShadow">
    <div class="shadowClose"></div>
    <div class="container">
        <div class="mapCon" id="mapCon">

        </div>
    </div>
</div>
<!--数据加载时的loading-->
<div id="loadingToast" style="display:none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <div class="ll-loading" style="top:40%;">
            <div class="ll-load-inner">
                <div class="ll-load-container">
                    <div class="ll-load-scale-multiple la-2x">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div><!-- end la-2x -->
                </div><!-- end ll-load-container -->
            </div><!-- end ll-load-inner -->
            <div class="ll-load-logo">
                <span class="ll-logo-1"></span>
                <span class="ll-logo-2"></span>
                <span class="ll-logo-3"></span>
            </div><!-- end ll-loading -->
        </div><!-- end ll-loading -->
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>
<!--邀请对象样式模板-->
<script type="text/x-people" id="peopleListTemplate">
    <div class="peopleItem fl joinerItem">
            <img src="{{imgUrl}}" alt="" class="fl">
            <div class="nickNames fl">{{nickName}}</div>
    </div>

</script>
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=328b4ed0fd71e2782bf3677b9012a151"></script>
<script src="http://s95.cnzz.com/z_stat.php?id=1260366051&web_id=1260366051" language="JavaScript" type="hide"></script>
</body>
</html>