<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<!--顶部显示背景图片-->
<div class="eventContainer fs14">
    <div class="topCon">
        <div class="eventName fs24 cff">跑步</div>
        <div class="compile">
            <div>
                <img src="../../assets/imgs/page/newShowEvent/ic_edit.png" alt="">
            </div>
        </div>
    </div>
    <div class="time item">
        <div class="icon">
            <img src="../../assets/imgs/page/activity/ic_schedule.png" alt="">
        </div>
        <div class="itemCon">

        </div>
    </div>
    <div class="suitable item fs12">
        <div class="icon">
            <img src="../../assets/imgs/page/activity/ic_suitable.png" alt="">
        </div>
        <div class="itemCon"></div>
    </div>
    <div class="weather item fs12">
        <div class="icon">
            <img src="../../assets/imgs/page/activity/ic_weather.png" alt="">
        </div>
        <div class="itemCon"></div>
    </div>
    <div class="avtivityCon">
        <!--地址-->
        <div class="site item">
            <div class="icon">
                <img src="../../assets/imgs/page/activity/ic_place.png" alt="">
            </div>
            <div class="itemCon"></div>
        </div>
        <!--参与人数-->
        <div class="participant item">
            <div class="icon">
                <img src="../../assets/imgs/page/activity/ic_social.png" alt="">
            </div>
            <div class="itemCon"></div>
        </div>
        <!--备注-->
        <div class="remark item">
            <div class="icon">
                <img src="../../assets/imgs/page/activity/ic_sort.png" alt="">
            </div>
            <div class="itemCon">
                <div class="remarkText"></div>
                <div class="remarkImgs"></div>
            </div>
        </div>
    </div>
    <div class="bottom">

    </div>
</div>

<!--横屏-->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<!--提示用户点击右上角实现分享功能-->
<div class="shareShadow" id="shareShadow">
    <div class="shadowImg">
        <img src="../../assets/imgs/page/addEvent/share-tips.png" alt="">
    </div>
</div>
</body>
</html>