<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="tabCon c6c">
        <div class="tab toSchedule">明星行程</div>
        <div class="tab toNews">娱乐新闻</div>
        <div class="tab toStars name">TFBOYS</div>
    </div>
    <!--新闻详情-->
    <div class="newsCon">
        <div class="newsTitle fs20">
            TFBOYS任首届“火星大使”，展榜样力量
        </div>
        <div class="newsPublishTime c99 fs12">全明星探 · 10月11日</div>
        <div class="newsContent"></div>
    </div>
    <!--近期行程-->
    <div class="recentSchedule">
        <div class="ccc fs12 cut-off">———&nbsp;<span class="name">TFBOYS</span>近期行程&nbsp;———</div>
        <div class="dayCon">
            <div class="day_item">
                <div class="item_detail cff">
                    <div class="itemTitle">舒肤佳见面会</div>
                    <div class="itemTime f12">周三 11:00-12:00</div>
                    <div class="itemLocation fs12">上海 合生汇 1F 舒肤佳专柜</div>
                </div>
                <div class="item_tips fs12">
                    <div class="c99">共<span class="joinerCount">524654</span>人在追</div>
                    <div class="join c6c">
                        <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                        <span>提醒我</span>
                    </div>
                    <div class="hasJoin c6c" style="display: none">
                        <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                        <span class="opa5">已提醒</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>