<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="tabCon c6c">
        <div class="tab toSchedule">明星行程</div>
        <div class="tab toNews">娱乐新闻</div>
        <div class="tab toStars name">TFBOYS</div>
    </div>
    <!--新闻详情-->
    <div class="newsCon">
        <div class="newsTitle fs20"></div>
        <div class="newsPublishTime c99 fs12"></div>
        <div class="newsContent"></div>
    </div>
    <!--近期行程-->
    <div class="recentSchedule">
        <div class="ccc fs12 cut-off">———&nbsp;<span class="name"></span>近期行程&nbsp;———</div>
        <div class="dayCon">
            <div class="day_item">
                <div class="item_detail cff">
                    <div class="starShadow">
                        <div class="itemTitle"></div>
                        <div class="itemTime f12"></div>
                        <div class="itemLocation fs12"></div>
                    </div>
                </div>
                <div class="item_tips fs12">
                    <div class="c99">共<span class="joinerCount"></span>人在追</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>