<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日程</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div id="main_box" style="visibility: hidden">
        <header>
            <div class="current_month">2016年9月</div>
            <div class="back_today">今日</div>
        </header>
        <section id="container"></section>
    </div>

    <!--全局添加按钮 开始-->
    <div id="addActivity" class="add_btn">+</div>
    <div id="btnDetail" class="btn_detail">
        <div>
            <span>活动</span>
            <a href="http://www.li-li.cn/llwx/common/to?url2=http%3a%2f%2fwww.li-li.cn%2fwx%2fview%2factivity.html" class="activity"></a>
        </div>
        <div>
            <span>提醒</span>
            <a href="http://www.li-li.cn/llwx/common/to?url2=http%3a%2f%2fwww.li-li.cn%2fwx%2fview%2fremind.html" class="remind"></a>
        </div>
    </div>
    <div class="select_mask"></div>
    <!--全局添加按钮  结束-->


    <script type="text/template" id="dateListTpl">
        <% var eventArr = data.dataArr; %>
        <!--渲染类型,init表示首次进入页面-->
        <% var type = data.type; %>
        <!--今天的数据(year, month ,day, weekDay, isToday)-->
        <% var today = data.today %>
        <% if(type == "init") { %>
            <!--初始化并且今天之后无数据-->
            <% if(eventArr.length < 1) { %>
                <div class="month_divide month_<%= parseInt(today.month, 10) %>">
                    <div class="text"><%= today.month %>月</div>
                </div>
                <div class="record no_record<%= today.day == 1 ? ' first_day' + ' headDate_' + today.year + '_' + today.month : '' %>" data-date="<%= today.year + '-' + today.month + '-' + today.day %>">
                    <div class="date">
                        <div class="day"><%= today.day %></div>
                        <div class="weekday"><%= today.weekDay %></div>
                    </div>
                    <div class="content">
                        <a href="javascript:;">没有安排活动,点击可添加活动</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="today" class="current_time_line"></div>
            <% } else { %>
            <!--初始化今天之后有数据-->
                <!--今天无数据-->
                <% if(today.isToday == false) { %>
                    <!--是否是月首-->
                    <% if(today.day == 1) { %>
                        <div class="month_divide month_<%= parseInt(today.month, 10) %>">
                            <div class="text"><%= today.month %>月</div>
                        </div>
                    <% } %>
                    <div class="record no_record<%= today.day == 1 ? ' first_day' + ' headDate_' + today.year + '_' + today.month : '' %>" data-date="<%= today.year + '-' + today.month + '-' + today.day %>">
                        <div class="date">
                            <div class="day"><%= today.day %></div>
                            <div class="weekday"><%= today.weekDay %></div>
                        </div>
                        <div class="content">
                            <a href="javascript:;">没有安排活动,点击可添加活动</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="today" class="current_time_line"></div>
                    <!--开始渲染今天之后的数据-->
                    <% for(var i=0;i<eventArr.length;i++) { %>
                        <!--某一天的数据集合-->
                        <% var dayData = eventArr[i]; %>
                        <!--某一天的具体信息-->
                        <% var timeData = dayData.events; %>
                        <% for(var j=0;j<timeData.length;j++) { %>
                            <!--某一天中得某一条-->
                            <% var timeDetail = timeData[j]; %>
                            <!--是否是月首(今天与第一条数据不再同一月份)-->
                            <% if(j == 0 && dayData.firstEventDayOfMonth && dayData.date.split('-')[1] != today.month) { %>
                                <div class="month_divide month_<%= parseInt(dayData.date.split('-')[1], 10) %>">
                                    <div class="text"><%= parseInt(dayData.date.split("-")[1], 10) %>月</div>
                                </div>
                            <% } %>
                            <!--渲染具体记录-->
                            <div class="record<%= (j == 0 && dayData.firstEventDayOfMonth && dayData.date.split('-')[1] != today.month) ? ' first_day' + ' headDate_' + parseInt(dayData.date.split('-')[0], 10) + '_' + parseInt(dayData.date.split('-')[1], 10) : '' %><%= (j== timeData.length -1) ? ' day_end' : '' %>" data-date="<%= dayData.date %>" data-eventId="<%= timeDetail.eventId %>">
                                <div class="date<%= j != 0 ? ' invisibile' : '' %>">
                                    <div class="day"><%= dayData.detailDate.day %></div>
                                    <div class="weekday"><%= dayData.detailDate.weekDay %></div>
                                </div>
                                <!--定义背景元素-->								
								 <% if(timeDetail.theme) { %>
                                    <div class="content<%= timeDetail.theme ? ' contain_img_box' : '' %>" style="background: url(<%= timeDetail.theme.themeUrl %>) center center no-repeat;background-size: cover;">
                                <% } else if (timeDetail.longitude != ""){ %>
									<div class="content">
									<div id="bmap_<%= timeDetail.randomId %>" class="bmap" data-longitude="<%= timeDetail.longitude %>"  data-latitude="<%= timeDetail.latitude%>"></div>
									<div class="map_mask"></div>
								<% } else { %>								
                                        <div class="content" style="background-color: <%= timeDetail.bgColor %>">										
                                <% } %>
                                    <div class="text<%= timeDetail.longitude ? ' contain_map' : timeDetail.theme ? ' contain_img' : '' %>">
                                        <div class="title"><%= timeDetail.name %></div>
                                        <div class="time"><%= timeDetail.startTime.split(' ')[1].split(":").splice(0,2).join(":") %><%= (timeDetail.endTime && timeDetail.startTime.split(' ')[1].split(":").splice(0,2).join(":") != timeDetail.endTime.split(' ')[1].split(":").splice(0,2).join(":")) ? '-' + timeDetail.endTime.split(' ')[1].split(":").splice(0,2).join(":") : ''%></div>
                                        <% if(timeDetail.location) { %>
                                        <div class="address"><%= timeDetail.location %></div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <!--今天有数据-->
                    <% for(var i=0;i<eventArr.length;i++) { %>
                        <!--某一天的数据集合-->
                        <% var dayData = eventArr[i]; %>
                        <!--某一天的具体信息-->
                        <% var timeData = dayData.events; %>
                        <% for(var j=0;j<timeData.length;j++) { %>
                            <!--某一天中得某一条-->
                            <% var timeDetail = timeData[j]; %>
                            <!--是否是月首-->
                            <% if(j == 0 && dayData.firstEventDayOfMonth) { %>
                                <div class="month_divide month_<%= parseInt(dayData.date.split('-')[1], 10) %>">
                                    <div class="text"><%= parseInt(dayData.date.split("-")[1], 10) %>月</div>
                                </div>
                            <% } %>
                            <!--渲染具体记录-->
                            <div class="record<%= (j == 0 && dayData.firstEventDayOfMonth) ? ' first_day' + ' headDate_' + parseInt(dayData.date.split('-')[0], 10) + '_' + parseInt(dayData.date.split('-')[1], 10) : '' %><%= (j== timeData.length -1) ? ' day_end' : '' %><%= i==0 ? ' today_has_date' : '' %>" data-date="<%= dayData.date %>" data-eventId="<%= timeDetail.eventId %>">
                                <div class="date<%= j != 0 ? ' invisibile' : '' %>">
                                    <div class="day"><%= dayData.detailDate.day %></div>
                                    <div class="weekday"><%= dayData.detailDate.weekDay %></div>
                                </div>
                                <!--定义背景元素-->								
								 <% if(timeDetail.theme) { %>
                                    <div class="content<%= timeDetail.theme ? ' contain_img_box' : '' %>" style="background: url(<%= timeDetail.theme.themeUrl %>) center center no-repeat;background-size: cover;">
                                <% } else if (timeDetail.longitude != ""){ %>
									<div class="content">
									<div id="bmap_<%= timeDetail.randomId %>" class="bmap" data-longitude="<%= timeDetail.longitude %>"  data-latitude="<%= timeDetail.latitude%>"></div>
									<div class="map_mask"></div>
								<% } else { %>								
                                        <div class="content" style="background-color: <%= timeDetail.bgColor %>">										
                                <% } %>
                                    <div class="text<%= timeDetail.longitude ? ' contain_map' : timeDetail.theme ? ' contain_img' : '' %>">
                                        <div class="title"><%= timeDetail.name %></div>
                                        <div class="time"><%= timeDetail.startTime.split(' ')[1].split(":").splice(0,2).join(":") %><%= (timeDetail.endTime && timeDetail.startTime.split(' ')[1].split(":").splice(0,2).join(":") != timeDetail.endTime.split(' ')[1].split(":").splice(0,2).join(":")) ?  '-' + timeDetail.endTime.split(' ')[1].split(":").splice(0,2).join(":") : '' %></div>
                                        <% if(timeDetail.location) { %>
                                        <div class="address"><%= timeDetail.location %></div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        <% } else { %>
            <!--上拉下滑的数据-->
            <% for(var i=0;i<eventArr.length;i++) { %>
            <!--某一天的数据集合-->
                <% var dayData = eventArr[i]; %>
                <!--某一天的具体信息-->
                <% var timeData = dayData.events; %>
                <% for(var j=0;j<timeData.length;j++) { %>
                    <!--某一天中得某一条-->
                    <% var timeDetail = timeData[j]; %>
                    <!--是否是月首-->
                    <% if(j == 0 && dayData.firstEventDayOfMonth) { %>
                        <div class="month_divide month_<%= parseInt(dayData.date.split('-')[1], 10) %>">
                            <div class="text"><%= parseInt(dayData.date.split("-")[1], 10) %>月</div>
                        </div>
                    <% } %>
                    <!--渲染具体记录-->
                    <div class="record<%= (j == 0 && dayData.firstEventDayOfMonth) ? ' first_day' + ' headDate_' + parseInt(dayData.date.split('-')[0], 10) + '_' + parseInt(dayData.date.split('-')[1], 10) : '' %><%= (j== timeData.length -1) ? ' day_end' : '' %>" data-date="<%= dayData.date %>" data-eventId="<%= timeDetail.eventId %>">
                        <div class="date<%= j != 0 ? ' invisibile' : '' %><%= dayData.isOutOfDate ? ' out_of_date' : '' %>">
                            <div class="day"><%= dayData.detailDate.day %></div>
                            <div class="weekday"><%= dayData.detailDate.weekDay %></div>
                        </div>
                                <!--定义背景元素-->								
								 <% if(timeDetail.theme) { %>
                                    <div class="content<%= timeDetail.theme ? ' contain_img_box' : '' %>" style="background: url(<%= timeDetail.theme.themeUrl %>) center center no-repeat;background-size: cover;">
                                <% } else if (timeDetail.longitude != ""){ %>
									<div class="content">
									<div id="bmap_<%= timeDetail.randomId %>" class="bmap" data-longitude="<%= timeDetail.longitude %>"  data-latitude="<%= timeDetail.latitude%>"></div>
									<div class="map_mask"></div>
								<% } else { %>								
                                        <div class="content" style="background-color: <%= timeDetail.bgColor %>">										
                                <% } %>
                            <div class="text<%= timeDetail.longitude ? ' contain_map' : timeDetail.theme ? ' contain_img' : '' %>">
                                <div class="title"><%= timeDetail.name %></div>
                                <div class="time"><%= timeDetail.startTime.split(' ')[1].split(":").splice(0,2).join(":") %><%= (timeDetail.endTime && timeDetail.startTime.split(' ')[1].split(":").splice(0,2).join(":") != timeDetail.endTime.split(' ')[1].split(":").splice(0,2).join(":")) ?  '-' + timeDetail.endTime.split(' ')[1].split(":").splice(0,2).join(":") : '' %></div>
                                <% if(timeDetail.location) { %>
                                <div class="address"><%= timeDetail.location %></div>
                                <% } %>
                            </div>
                        </div>
                         <div class="clearfix"></div>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    </script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=Nv4xifhhDjKpB1DP6uDwd3cNbHeH2PaV"></script>
</body>