<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>明星行程</title>
</head>

<body>
<div class="starList">
    <div class="swiper-wrapper">
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <a href="http://www.baidu.com"><br><span>李易jdsdjklfglkdsfg峰1</span></a>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰2</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰3</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰4</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰5</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰6</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰7</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易峰8</span>
        </div>
    </div>
    <div class="swiper-scrollbar"></div>
</div>

<div class="starNews">
    <div class="starNewsLeft">度假猛料</div>
    <div class="starNewsRight">
        <div class="swiper-wrapper">
            <div class="news swiper-slide">这是一条新闻这是一条这是一条新闻这是一条新闻</div>
            <div class="news swiper-slide">Slide 2</div>
            <div class="news swiper-slide">Slide 3</div>
            <div class="news swiper-slide">Slide 4</div>
            <div class="news swiper-slide">Slide 5</div>
            <div class="news swiper-slide">Slide 6</div>
            <div class="news swiper-slide">Slide 7</div>
            <div class="news swiper-slide">Slide 8</div>
            <div class="news swiper-slide">Slide 9</div>
            <div class="news swiper-slide">Slide 10</div>
        </div>
    </div>
</div>

</body>
</html>