<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>明星行程</title>
</head>

<body>
<div class="starList">
    <div class="swiper-wrapper">
        <!-- <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/star/userBg_moreStar.png" alt="">
            <br><span style="font-size: 8px;">其他明星，陆续开启...</span>
        </div>
        <div class="starItem swiper-slide" data-src="http://www.baidu.com">
            <img src="../../assets/imgs/page/showEvent/default_photo.png" alt="">
            <br><span>李易jdsdjklfglkdsfg峰1</span>
        </div> -->
    </div>
    <div class="swiper-scrollbar hide"></div>
</div>

<div class="starNews">
    <div class="starNewsRight">
        <div class="swiper-wrapper">
            <!-- <div class="news swiper-slide"><div class="starNewsLeft">独家猛料</div>这是一条新闻这是一条这是一条新闻这是一条新闻</div>
            <div class="news swiper-slide">Slide 2</div>
            <div class="news swiper-slide">Slide 3</div>
            <div class="news swiper-slide">Slide 4</div>
            <div class="news swiper-slide">Slide 5</div>
            <div class="news swiper-slide">Slide 6</div>
            <div class="news swiper-slide">Slide 7</div>
            <div class="news swiper-slide">Slide 8</div>
            <div class="news swiper-slide">Slide 9</div>
            <div class="news swiper-slide">Slide 10</div> -->
        </div>
    </div>
</div>


<div class="starNewsList">
    <div class="title">近期明星行程</div>
    <div class="container">
        <div class="line"></div>
        <div class="scheduleCon">
            <!-- <div class="dayCon">
                <div class="date today">
                    <div class="day fs18">19</div>
                    <div class="month fs12">10月</div>
                </div>
                <div class="day_item" data-eventId = "">
                    <div class="item_detail cff">
                        <div class="starShadow">
                            <h1 class="itemTitle">《军舰岛》出演准备及拍摄</h1>
                            <div class="itemTime fs12">周三 全天</div>
                            <div class="itemLocation fs12">韩国 济州岛</div>
                        </div>
                    </div>
                    <div class="starLink">
                        <div class="starAvatar" style="background-image:url(../../assets/imgs/page/newShowEvent/default_photo.png)">
                            <img src="../../assets/imgs/page/newShowEvent/default_photo.png" alt="">
                        </div>
                        <div class="starName"><div class="name">宋仲基</div></div>
                    </div>
                    <div class="item_tips fs12">
                        <div class="c99">共<span class="joinerCount">56456</span>人在追</div>
                        <div class="join c6c" style="display: none">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                            <span>提醒我</span>
                        </div>
                        <div class="hasJoin c6c">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                            <span class="opa5">已提醒</span>
                        </div>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
    <div class="commentAdd">
        <img class="fl" src="../../assets/imgs/page/newShowEvent/icon_loading.gif" alt="">
        <div class="txt fl">加载中...</div>
        <!-- 没有更多评论了... -->
    </div>
</div>

<!--横屏-->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>

<!--弹出二维码-->
<div class="wxQrcode">
    <span class="wxQrcodeClose"></span>
    <div class="qrcodeImgCon">
        <div class="qrcodeImg"></div>
        <p>长按识别二维码<br/>即可参与活动</p>
    </div>
</div>

</body>
</html>