<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历历</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="starTop">
        <div class="starInfo">
            <div class="starImg fl">

            </div>
            <div class="starInfo_name fl">
                <div class="starName cff fs24 name">TFBOYS</div>
                <div class="cff fs12 fansNum"><span class="fansCount">48926</span>&nbsp;人在追</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="line"></div>
        <div class="scheduleCon">
            <div class="dayCon">
                <div class="date today">
                    <div class="day fs18">19</div>
                    <div class="month fs12">10月</div>
                </div>
                <div class="day_item" data-eventId = "">
                    <div class="item_detail cff">
                        <h1 class="itemTitle">《军舰岛》出演准备及拍摄</h1>
                        <div class="itemTime fs12">周三 全天</div>
                        <div class="itemLocation fs12">韩国 济州岛</div>
                    </div>
                    <div class="item_tips fs12">
                        <div class="c99">共<span class="joinerCount">56456</span>人在追</div>
                        <div class="join c6c" style="display: none">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                            <span>提醒我</span>
                        </div>
                        <div class="hasJoin c6c">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                            <span class="opa5">已提醒</span>
                        </div>
                    </div>
                </div>
                <div class="day_item">
                    <div class="item_detail cff">
                        <h1 class="itemTitle">《军舰岛》出演准备及拍摄</h1>
                        <div class="itemTime fs12">周三 全天</div>
                        <div class="itemLocation fs12">韩国 济州岛</div>
                    </div>
                    <div class="item_tips fs12">
                        <div class="c99">共<span class="joinerCount">56456</span>人在追</div>
                        <div class="join c6c">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                            <span>提醒我</span>
                        </div>
                        <div class="hasJoin c6c" style="display: none">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                            <span class="opa5">已提醒</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dayCon">
                <div class="date">
                    <div class="day fs18">20</div>
                    <div class="month fs12">10月</div>
                </div>
                <div class="day_item">
                    <div class="item_detail cff">
                        <h1 class="itemTitle">《军舰岛》出演准备及拍摄</h1>
                        <div class="itemTime fs12">周三 全天</div>
                        <div class="itemLocation fs12">韩国 济州岛</div>
                    </div>
                    <div class="item_tips fs12">
                        <div class="c99">共<span class="joinerCount">56456</span>人在追</div>
                        <div class="join c6c">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                            <span>提醒我</span>
                        </div>
                        <div class="hasJoin c6c" style="display: none">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                            <span class="opa5">已提醒</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="fl c99 bottomTxt">追TA，成为<span class="name">TFBOYS</span>的粉丝</span>
        <span class="c99 hide selected">世界再大，我也要跟着你跑</span>
        <a href="javascript:;" class="follow cff fr"><img src="../../assets/imgs/page/activity/ic_hook-w.png" alt="" class="hide">追TA</a>
    </div>
    <div class="bottomSelect">
        <div class="bottom_top fs20">你希望获取<span class="name">TFBOYS</span>的？</div>
        <div class="bottom_item active">
            <span class="bottomItem_text">全部信息</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_item">
            <span class="bottomItem_text">重要行程</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_item">
            <span class="bottomItem_text">独家猛料</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_item">
            <span class="bottomItem_text">都不要，裸追</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_btn">
            <a href="javascript:;" class="cff">确定</a>
        </div>
    </div>
    <div class="shadow"></div>
<!--行程列表每天的样式-->
    <script type="text/x-dayList" id="dayListTemplate">
        <div class="dayCon">
                <div class="date">
                    <div class="day fs18">20</div>
                    <div class="month fs12">10月</div>
                </div>
            </div>
    </script>
<!--行程列表行程的样式-->
    <script type="text/x-item" id="itemListTemplate">
        <div class="day_item" data-eventId = "{{eventId}}">
                    <div class="item_detail cff">
                        <h1 class="itemTitle">{{name}}</h1>
                        <div class="itemTime fs12">周三 全天</div>
                        <div class="itemLocation fs12">{{location}}</div>
                    </div>
                    <div class="item_tips fs12">
                        <div class="c99">共<span class="joinerCount">{{joinerCount}}</span>人在追</div>
                        <div class="join c6c">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                            <span>提醒我</span>
                        </div>
                        <div class="hasJoin c6c">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                            <span class="opa5">已提醒</span>
                        </div>
                    </div>
                </div>
    </script>
</body>
</html>