<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="starTop">
        <div class="topShadow">
            <div class="starInfo">
                <div class="starImg fl"></div>
                <div class="starInfo_name fl">
                    <div class="starName cff fs24 name"></div>
                    <div class="cff fs12 fansNum"><span class="fansCount"></span>&nbsp;人在追</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="line"></div>
        <div class="scheduleCon"></div>
    </div>
    <div class="bottom">
        <span class="fl c99 bottomTxt">追TA，成为<span class="name">TFBOYS</span>的粉丝</span>
        <span class="c99 hide selected">世界再大，我也要跟着你跑</span>
        <a href="javascript:;" class="follow cff fr"><img src="../../assets/imgs/page/activity/ic_hook-w.png" alt="" class="hide">追TA</a>
    </div>
    <div class="bottomSelect">
        <div class="bottom_top fs20">你希望获取<span class="name">TFBOYS</span>的？</div>
        <div class="bottom_item">
            <span class="bottomItem_text">全部信息</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_item">
            <span class="bottomItem_text">重要行程</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_item">
            <span class="bottomItem_text">独家猛料</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_item">
            <span class="bottomItem_text">都不要，裸追</span>
            <div class="selectImg"></div>
        </div>
        <div class="bottom_btn">
            <a href="javascript:;" class="cff">确定</a>
        </div>
    </div>
    <div class="shadow"></div>
    <div class="commentMore fl">
        <div class="commentAdd">
            <img class="fl" src="../../assets/imgs/page/newShowEvent/icon_loading.gif" alt="">
            <div class="txt fl">加载中...</div>
            <!-- 没有更多评论了... -->
        </div>
    </div>
    <!--用户操作失败后的提示-->
    <div id="dialog2" style="opacity: 0;display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd"></div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
    <!--弹出历历公众号二维码-->
    <div class="liLi">
        <span class="liLi_close"></span>
        <div class="liLi_qrcodeImgCon">
            <div class="liLi_qrcodeImg">
                <img src="../../assets/imgs/page/newShowEvent/liLy.jpg" alt="">
            </div>
            <p>长按识别二维码<br />关注历历LilyCalendar</p>
        </div>
    </div>
    <!--数据加载时的loading-->
    <div id="loadingToast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <div class="ll-loading">
                <div class="ll-load-inner">
                    <div class="ll-load-container">
                        <div class="ll-load-scale-multiple la-2x">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div><!-- end la-2x -->
                    </div><!-- end ll-load-container -->
                </div><!-- end ll-load-inner -->
                <div class="ll-load-logo">
                    <span class="ll-logo-1"></span>
                    <span class="ll-logo-2"></span>
                    <span class="ll-logo-3"></span>
                </div><!-- end ll-loading -->
            </div><!-- end ll-loading -->
            <!--<p class="weui-toast__content">数据加载中</p>-->
        </div>
    </div>
    <!--弹出二维码-->
    <div class="wxQrcode">
        <span class="wxQrcodeClose"></span>
        <div class="qrcodeImgCon">
            <div class="qrcodeImg"></div>
            <p>长按识别二维码<br/>即可参与活动</p>
        </div>
    </div>
<!--行程列表每天的样式-->
    <script type="text/x-dayList" id="dayListTemplate">
        <div class="dayCon" data-date="{{date}}">
                <div class="date">
                    <div class="day fs18">{{day}}</div>
                    <div class="month fs12">{{month}}</div>
                </div>
            </div>
    </script>
    <!--横屏-->
    <div id="orientLayer" class="mod-orient-layer">
        <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
            <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
        </div>
    </div>
<!--行程列表行程的样式-->
    <script type="text/x-item" id="itemListTemplate">
        <div class="day_item" data-eventId = "{{eventId}}">
                    <div class="item_detail cff" style="{{background}}">
                        <div class="starShadow">
                            <h1 class="itemTitle">{{name}}</h1>
                            <div class="itemTime fs12">{{time}}</div>
                            <div class="itemLocation fs12">{{location}}</div>
                        </div>
                    </div>
                    <div class="item_tips fs12">
                        <div class="c99">共<span class="joinerCount">{{joinerCount}}</span>人在追</div>
                        <div class="join c6c" style="display:{{join}}">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind.png" alt="">
                            <span>提醒我</span>
                        </div>
                        <div class="hasJoin c6c" style="display:{{hasJoin}}">
                            <img src="../../assets/imgs/page/newShowEvent/icon_btn_remind_pre.png" alt="">
                            <span class="opa5">已提醒</span>
                        </div>
                    </div>
                </div>
    </script>

</body>
</html>